/* -------------------CSS geral ---------------------*/


html, body, h2, h1, h3, h4, p{  
	font-family: "Raleway", sans-serif;
    margin: 0;  
	padding: 0; 
	color: black;
}

html {
	box-sizing: border-box;
	overflow: auto;
	height: auto;
	scroll-behavior: smooth;
	
}

h4 {
	font-size: 23px;
	line-height: 31px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: none;
}

h2 {
	font-size: 43px;
	line-height: 47px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: uppercase;
}

p {
}

img {
	margin: 0;
}

body {
	padding-right: -10px;;
	
	
}


/* -------------------CSS geral ---------------------*/
    










/*--------------CSS do Header ---------------------------*/

header {
    margin-top: 80px;
    padding-top: 10px;
    margin-left: -10px;
    margin-right: -10px;

}


    #cabecalho {	
        display: grid;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;	
        max-width: auto;	
        height: 110px;
        margin: 0 auto;
        padding-top: 0px;
        margin-top: -15px;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 15px;
        background-color: black;
        grid-template-columns: 1fr 5fr 1fr ;
        grid-template-areas: 
        "logo links botao1";
    }

        #button-header {     
            margin-right: 30px;
            margin-bottom: 10px;
            grid-area: botao1;
            justify-self: center;
            align-self: center;
                
        }
    
        

        #logo {	
            
            grid-area: logo;
            justify-self: center;
        }

            #logo img{
                margin-top: 10px;
                transform: scale(0.9);
                height: 100px;
            }

        #logo-drop-down {
            display: none;
            width: 70px;
            height: 70px;
            padding-top: 25px;
            padding-right: 40px;
        }

        #links { 
            grid-area: links;
            justify-self: start;
        }

            #links ul {
                padding: 0px;
                margin: 0px;
                float: right;
                list-style-type: none;
                margin-top: 0px;
                margin-right: 15px;
            }

            #links li {
                display: inline;
            }

            a:link {
                text-decoration: none;
            }

            #links a {
                padding: 0px 5px;
                display: inline-block;
                font-size: 14px;
                color: #ffffff;
                font-style: normal;
                font-weight: 900;
                letter-spacing: 0px;
                text-transform: uppercase;
                line-height: 140px;
            }

            #links a:hover {
                font-size: 15px;
                color: #39ff14;
            }

        #links2 {
            display: none;
            align-items: center;
            padding-right: 40px;
        }

            #links2 ul {
                padding: 0px;
                margin: 0px;
                float: right;
                list-style-type: none;
                margin-top: 0px;
                margin-right: 15px;
            }

            #links2 li {
                display: inline;
            }

            a:link {
                text-decoration: none;
            }

            #links2 a {
                padding: 0px 5px;
                display: inline-block;
                font-size: 12px;
                color: #ffffff;
                font-style: normal;
                font-weight: 900;
                letter-spacing: 0px;
                text-transform: uppercase;
                line-height: 140px;
            }

            #links2 a:hover {
                font-size: 13px;
                color: #39ff14;
            }

        #links3 {
            display: none;
            align-items: center;
            padding-right: 40px;
        }

            #links3 ul {
                padding: 0px;
                margin: 0px;
                float: right;
                list-style-type: none;
                margin-top: 0px;
                margin-right: 15px;
            }

            #links3 li {
                display: inline;
            }

            a:links3 {
                text-decoration: none;
            }

            #links3 a {
                padding: 0px 5px;
                display: inline-block;
                font-size: 12px;
                color: #ffffff;
                font-style: normal;
                font-weight: 900;
                letter-spacing: 0px;
                text-transform: uppercase;
                line-height: 140px;
            }

            #links3 a:hover {
                font-size: 13px;
                color: #39ff14;
            }

        #links4 {
            display: none;
            align-items: center;
            padding-right: 40px;
        }

            #links4 ul {
                padding: 0px;
                margin: 0px;
                float: right;
                list-style-type: none;
                margin-top: 0px;
                margin-right: 15px;
            }

            #links4 li {
                display: inline;
            }

            a:link4 {
                text-decoration: none;
            }

            #links4 a {
                padding: 0px 5px;
                display: inline-block;
                font-size: 12px;
                color: #ffffff;
                font-style: normal;
                font-weight: 900;
                letter-spacing: 0px;
                text-transform: uppercase;
                line-height: 140px;
            }

            #links4 a:hover {
                font-size: 13px;
                color: #39ff14;
            }


        #links-drop-down {
            display: none;
        }

            #hamburguer{
                display: none;
                width: 70px;
                height: 70px;
                padding-top: 25px;
                padding-left: 50px;
            }

        .button-inscricao{
            background-color: #379634 ;
            color: #fff;
            border-radius: 35px;        
            font-size: 20px;
            font-weight: bolder;
            padding: 20px 43px;
            cursor: pointer;

            
        }

            .button-inscricao:hover {
                    background-color: #2d772a ;
                    scale: 1.1;
            }



/*--------------CSS do Header ---------------------------*/























/*-----------------CSS arquivo --------------*/












#error{
    background-color:#03060e;
    padding-top: 100px;
    
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 200px 200px 480px 50px;    
    grid-template-areas:
    "error-image" 
    "error-message"
    "rage-gif"
    "buttom";

}

        #error-image{
            grid-area: error-image;
            align-self:center;
            justify-self: center;
            
        }

            #error-image img{
                width: 60%;
                filter: grayscale(100%);
            }

       

    #error-message{
        font-size: 36px;
        color: white;
        grid-area: error-message;
        align-self:center;
        justify-self: center;
    }

        #error-message h1{
            margin-bottom: 30px;
        }

    #rage-gif{       
        grid-area: rage-gif;
        align-self: center;
        justify-self: center;
        
    }

    .office-rage{
        
    }

    .cat{
        
    }
        
    

    #buttom{
        grid-area: buttom;
        align-self: center;
        justify-self: center;
        

    }

    .button1 {
        background-color: rgb(236, 28, 28);
        
        
        border-radius: 15px;
        border-style: solid;
        border-color: #78f0d3;
        background: none;
        font-size: 20px;
        font-weight: bolder;
        
        padding: 10px 43px;
        font-family: "Open Sans", sans-serif;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }

    .button1:hover {
        background-color: #39ff14;
    }





/*-----------------CSS arquivo --------------*/














/* ----------------------------CSS do Footer ------------------*/




footer {
    clear: both;
    height: auto;
    width: 100%;
    margin-bottom: -20px;
}

    .logos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: black;
        margin-right: -20px;
        margin-left: -20px;
        height: 250px;
        padding-top: 70px;
        align-items: center;
        justify-items: center;
        grid-template-areas:
            "logo-agencia-footer logo-ufrj social"
            "cop cop cop";
    }

        #logo-agencia-footer {
            grid-area: logo-agencia-footer;
            height: 90px;
            width: 200px;
        }

        #logo-ufrj {
            grid-area: logo-ufrj;
            height: 130px;
            width: 230px;
        }

        #social {
            grid-area: social;
            background-color: black;
        }

            #social ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 10px;
                justify-self: center;
                margin: 0px;
                list-style-type: none;
                background-color: black;
            }

                #facebook {
                    text-align: right;
                }
            
                #linkedin {
                    text-align: left;
                }

                

                #social a {
                    width: 50px;
                    height: 50px;
                    background-color: black;
                }

        #cop {
            background-color: black;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-area: cop;
            justify-self: stretch;
            align-self: stretch;
            background-color: black;
            padding-top: 40px;
        }

            #cop p {
                color: white;
                text-align: center;
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                line-height: 62px;
                font-weight: 700;
                text-transform: uppercase;
            }

    
    
/* -------------------------CSS do Footer ----------------------*/























































/* 




@media (min-height: 650px){

    #error{
        background-color: #03060e;
        padding-top: 100px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 190px 90px 380px 80px;    
        grid-template-areas:
        "error-404" 
        "error-message"
        "rage-gif"
        "buttom";
    
    }

    #error-image{
        scale:0.6;
    }

    .cat{
        scale:2.3;
    }

    .office-rage{
        scale: 0.8;
    }






} */