
	header {
		margin-top: 80px;
		height: auto;
		width: 100vw;
	}

		#hero-apres{
			display: grid;
			text-align: center;
			background-image: url("../images/evento/evento-2-2.png");
			background-size: cover;
			background-position: center 30%;
			background-repeat: no-repeat;
			height: 600px;
		}

		#titulo_apresentacao{
			text-align: center;
			margin-top: auto;
			margin-bottom: auto;
		}

		.title-large1 {
			color: #ffffff;
			font-size: 3rem;
			line-height: 1;
			padding: 1rem .5rem .5rem .5rem;
			margin-bottom: 5px;
			width: auto;
		}
		
/* <---------------------------------seção videos-------> */

        /* #films{
			display: grid;
			width: 100vw;
            display: none;
            grid-template-columns: 1fr;
            grid-template-rows: 700px ;
            grid-template-areas: 
            "film1";
		} */

		#films{
			display: grid;
			width: 100vw;
            grid-template-columns: 1fr;
            grid-template-rows: 700px ;
            grid-template-areas: 
            "film1";
		}
		


		
        
            #films h1{
                align-self: center ;
                transition: font-size 0.3s;
            }
        
            #films h1:hover{
                color: gold;
                cursor: pointer;
                font-size: 52px;
            }
        
            .film-title{
                color: azure;
                text-align: center;
                text-justify: center;
                line-height: 100px;
                font-size: 30px;
            }
        
            #film1{
                display: grid;
                grid-area: film1;
                background-image: url(../images/evento/evento-1.png);
				background-size: cover;
            }
        
                .film-h1-none{
                    display:none;
				}

				
        
                #apresentacao_1{
					margin-top: auto;
					margin-bottom: auto;
					margin-left: auto;
					margin-right: auto;
                    line-height: 100px;
					font-size: 30px;
				}
					#apresentacao_1 img{
						height: 10rem;
						transition: 0.3s;
					}
				
					#apresentacao_1 img:hover{
						cursor: pointer;
						scale: 1.1;
						transition: 0.3s;
					}
        
                #apresentacao_1-player{
                    display:none;
                    position: relative;
					margin-left: auto;
					margin-right: auto;
					margin-top: auto;
					margin-bottom: auto;
				}
        
                .film-player-inherit{
                    display:inherit;
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                } 

		/* #breve{
			width: 100vw;
			color: #000000;
			font-weight: bolder;
			height: 400px;
			background-color: #BFFFF1;
			text-align: center;
			padding-top: 10rem;
		} */

		#breve{
			width: 100vw;
			color: #000000;
			font-weight: bolder;
			height: 400px;
			background-color: #BFFFF1;
			text-align: center;
			padding-top: 10rem;
			display: none;
		}

			#titulo_breve{
			}

			#flipdown{
				padding-top: 2rem;
			}

		/* <----------------------------------@media--------------------------------------> */



@media only screen and (min-width: 1025px) and (max-width: 1268px){
}
	
@media only screen and (min-width: 730px) and (max-width: 1024px){

	#apresentacao_1-player{
		width: 700px;
		height: 460px;
	}

	.flipTimer{
		scale:0.8;
	}

		.timer{
			font-size: 1.7rem;
		}
}

@media only screen and (min-width: 400px) and (max-width: 549px){

	.films{
		height: 400px;
	}

	#apresentacao_1-player{
		width: 390px;
		height: 245px;
	}

	#apresentacao_1{
		display: inherit;
		color: azure;
		text-align: center;
		text-justify: center;
		line-height: 100px;
		font-size: 25px;
	}

	#hero_prog{
		height: 400px;
	}

	.flipTimer{
		scale:0.55;
	}

		.timer{
			font-size: 1.1rem;
		}
}

@media only screen and (max-width: 399px){

	.films{
		height: 400px;
	}

	#apresentacao_1-player{
		width: 320px;
		height: 215px;
	}
	
	#hero_prog{
		height: 400px;
	}

	.flipTimer{
		scale:0.45;
	}

		.timer{
			font-size: 0.9rem;
		}
	
}