html, body, h2, h1, h3, h4, p {  
	font-family: "Raleway", sans-serif;
    margin: 0;  
	padding: 0; 
	color: black;
}

html {
	box-sizing: border-box;
	overflow: auto;
	height: auto;
	scroll-behavior: smooth;
	
}

h4 {
	font-size: 23px;
	line-height: 31px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: none;
}

h2 {
	font-size: 43px;
	line-height: 47px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: uppercase;
}

p {
}

img {
	margin: 0;
}

body {
	padding-right: -10px;;
	
	
}

	header {
		margin-top: 80px;
		height: auto;
		padding-top: 10px;
		margin-left: -10px;
		margin-right: -10px;
	}


		
		.title{
			font-family: 'versaversa';
			font-size: 2.1rem;
			line-height: 1.2em;
			text-transform: uppercase;
			color: black;
		}

		.subtitle{
			font-family: 'versaversa';
			font-size: 1.6em;
			line-height: 1.2em;
			text-transform: uppercase;
			color: black;
		}


		

		#hero{
			text-align: center;
			
		}

		#hero_prog{
			text-align: center;
			background-image: url("../images/hero/evento-1.png");
			background-size: cover;
			background-position: center 30%;
			background-repeat: no-repeat;
			height: 600px;
			filter: blur(2px);
			
			
        }












        
/* <---------------------------------seção videos-------> */















        #films{
            display: grid;
            
            /* display: none; */
            
            grid-template-columns: 1fr;
            grid-template-rows: 700px ;
            grid-template-areas: 
            "film1";
        }
        
            #films h1{
                align-self: center ;
                transition: font-size 0.3s;
            }
        
            #films h1:hover{
                color: gold;
                cursor: pointer;
                font-size: 52px;
            }
        
            .film-title{
                color: azure;
                text-align: center;
                text-justify: center;
                line-height: 100px;
                font-size: 30px;
            }
        
            #film1{
                display: grid;
                grid-area: film1;
                background-image: url(../images/apresentacoes/evento-2.png);
				background-size: cover;
                
                
                
            }
        
                .film-h1-none{
                    display:none;
                }
        
                #apresentacao_1{
                    display: inherit;
                    color: azure;
                    text-align: center;
                    text-justify: center;
                    line-height: 100px;
                    font-size: 30px;
                }
        
               
        
                #apresentacao_1-player{
                    display:none;
                    position: relative;
					
					margin-left: auto;
					margin-right: auto;
					margin-top: auto;
					margin-bottom: auto;
                }
        
                
        
                .film-player-inherit{
                    display:inherit;
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                } 
        
		
		



		.title-large1 {
			font-family: 'versaversa';
			color: #ffffff;
			font-size: 2.5rem;
			line-height: 1;
			padding: 1rem .5rem .5rem .5rem;
			margin-bottom: 5px;
			
			width: auto;
		}

			.title-large1 strong{
				background-color: #2edb96;
				padding-left: 10px;
				padding-right: 10px;

			}

		.title-large2 {
			font-family: "RalewayBold", sans-serif;
			color: #ffffff;
			font-size: 2.1rem;
			line-height: 1em;
			padding: 1rem .5rem .5rem .5rem;
			margin-bottom: 5px;
			
		}

		.title-large2 strong{
			background-color: #379634;
			padding-left: 10px;
			padding-right: 10px;

		}


		.title-large3 {
			font-family: 'sora';
			color: #ffffff;
			font-size: 2rem;
			line-height: 1.2em;
			padding: 1rem .5rem .5rem .5rem;
			
			
			margin-bottom: 60px;
			margin-top: 60px;
		}

		.title-data3 strong{
			font-family: "RalewayBold", sans-serif;
			color: #ffffff;
			font-size: 2.1rem;
			line-height: 1em;
			padding: 1rem .5rem .5rem .5rem;
			
			background-color: #89da86;
			

		}


		.title-large3 {
			font-family: 'sora';
			color: #ffffff;
			font-size: 2rem;
			line-height: 1.2em;
			padding: 1rem .5rem .5rem .5rem;
			
			
			margin-bottom: 60px;
			margin-top: 60px;
		}



		#breve{
			height: 400px;
			background-color: #BFFFF1;
			margin-left: -8px;
			margin-right: -8px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			padding-top: 40px;
		}
	

		#temporizador{
			height: 400px;
			margin-bottom: 120px;
			margin-top: 70px;
		}

			.timer{
				font-size: 2rem;
				color: rgb(0, 0, 0);
				padding: 8px;
				font-weight: bolder;
			}

		#temporizador_legendas{
			display: grid;
			grid-template-columns: 120px 120px 120px 120px;
			gap: 50px;
			justify-content: center;
			grid-template-areas:
			"dias_legenda horas_legenda minutos_legenda segundos_legenda";
		}
			

			#dias_legenda{
				grid-area: dias_legenda;
			}

		

			#horas_legenda{
				grid-area: horas_legenda;
			}
		
		

			#minutos_legenda{
				grid-area: minutos_legenda;
			}

		

			#segundos_legenda{
				grid-area: segundos_legenda;
			}


	
		.button-inscricao{
			background-color: #48D1CC ;
			color: #fff;
			border-radius: 35px;        
			font-size: 20px;
			font-weight: bolder;
			padding: 20px 43px;
			cursor: pointer;
		}
		
			.button-inscricao:hover {
				background-color: #3cb1ad ;
				scale: 1.1;
			}

		#button-titulo{
			margin-bottom: 70px;

		}

			

	
		#informacoes-evento{
			height: auto;
			background-color: #f4f4fb;
			
		}

			#titulo-informacoes{
				
				

				padding-top: 100px;
				margin-left: 310px;
				padding-bottom: 80px;
			}


			#cards-evento{
				margin-left: auto;
				margin-right: auto;
				display: grid;
				justify-content: center;  
				gap: 40px 40px;
				padding-bottom: 100px;
				grid-template-columns: 400px 400px 400px;
				grid-template-rows: 500px;

			}

				#card-evento-1{
					justify-self: stretch;
					align-self: stretch;
					overflow: hidden;

					/* overflow: hidden esconde o que ultrapassar do container */
					
					
				}

					

				#card-evento-2{
					justify-self: stretch;
					align-self: stretch;
					overflow: hidden;

				}


				#card-evento-3{
					justify-self: stretch;
					align-self: stretch;
					overflow: hidden;

				}

					


					.photo{
						width: 400px;
						height: 300px;
						align-self: center;
						justify-self: center;
						padding-bottom: 40px;
						transition-duration: 0.45s;
						
					}

						.photo:hover{
							scale: 1.05;
							transition-duration: 0.45s;
							
						}

					

					.texto-evento{
						display: grid;
						width: 400px;
					}

					
						.card-title{
							display: grid;
							background-color: rgb(255, 255, 255);
							text-align: center;
							align-self: stretch;
							justify-self: stretch;
							padding-top: 10px;
							padding-bottom: 15px;
							
						}

						
						.card-text{
							display: grid;
							background-color: rgb(255, 255, 255);
							padding:10px;
							text-align: center;
										
							color: rgb(0, 0, 0);
							
						}		


			

			




					
	

		
	#contato{


		background-color: #3ca7a3;
		color: #ffffff;
		margin-left: -8px;
		margin-right: -8px;
		text-align: center;
		padding-top: 100px;
		padding-bottom: 100px;
		text-transform: none;
	}

	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 2fr;
		background-color: #ffffff;
		gap: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
		
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title org_title org_title"
		" ufrj_logo  pos_biof_logo pos_fisio_logo ibccf_logo " ;
		
	}

		#realizacao img:hover{
			scale: 1.1;
		}

		#org_title{
			grid-area:org_title;

		}

		#ufrj_logo{
			grid-area: ufrj_logo;

		}

		#pos_biof_logo{
			grid-area:pos_biof_logo;

		}

		#pos_fisio_logo{
			grid-area:pos_fisio_logo;

		}

		#ibccf_logo{
			grid-area:ibccf_logo;

		}
    

    
		














	














@media only screen and (min-width: 1025px) and (max-width: 1268px){

	.titulo_palestra{
		margin-top: 1px;
		margin-right: 10px;
		margin-bottom: 1px;
		
		
		

	}

	#apontador_dia{
		display:grid;
		grid-template-columns: 180px 10px;
		grid-template-areas:
		"icone_dia recorte";
		font-size: 0.8rem;




	}

	

	.dia{
		width: 580px;
		
	}

	.horario_prog{
		display: grid;
		grid-template-columns: 2fr 4fr;
		grid-template-rows: 3fr 0.5fr 3fr;
		align-items: center;
		justify-items: left;
		border-bottom-style: dashed;
		
		grid-template-areas:
		"horario titulo_palestra"
		"... icon_palestrate"
		"categoria icon_palestrante";
	}





	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: 1fr 2fr 2fr;
		background-color: #ffffff;
		gap: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}

	

}
	
	
@media only screen and (min-width: 730px) and (max-width: 1024px){


	#apresentacao_1-player{
		width: 700px;
		height: 460px;

	}


	#temporizador{
		position: relative;
		right: 2vw;
	}

	.flipTimer{
		scale:0.8;
		

	}

	#temporizador_legendas{
		grid-template-columns: 140px 110px 110px 110px;
		gap: 25px;
		position: relative;
		justify-content: center;
		right: 3vw;
	}

		.timer{
			font-size: 1.7rem;
		}

	#prog_title {
		
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		

	}

	#prog_subtitle {
		
		text-align: center;
		padding-bottom: 50px;
		

	}


	.programacao_completa{
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: auto;
		display: grid;
		padding-bottom: 40px;
		gap: 50px;
		
		grid-template-columns: 1fr 3fr;
		grid-template-areas: 
		"icone_dia dia";
	}

	#apontador_dia{
		display:grid;
		grid-template-columns: 160px 6px;
		grid-template-areas:
		"icone_dia recorte";
		font-size: 0.7rem;




	}

	

	.dia{
		width: 500px;
		
	}

	.horario_prog{
		display: grid;
		grid-template-columns: 2fr 4fr;
		grid-template-rows: 3fr 0.5fr 3fr;
		align-items: center;
		justify-items: left;
		border-bottom-style: dashed;
		
		grid-template-areas:
		"horario titulo_palestra"
		"... icon_palestrate"
		"categoria icon_palestrante";
	}

		.titulo_palestra{
			font-size: 1.2rem;
			margin-bottom: 2px;

		}

		.horario_prog p, img {
			margin-left: 10px;
		}

		.icon_palestrante {
			padding-bottom: 10px;
		}

	

		.titulo_palestra3{
			font-size: 1.2rem;
			margin-bottom: 2px;

		}

		.horario_prog3 p, img {
			margin-left: 10px;
		}

		.icon_palestrante3 {
			padding-bottom: 10px;
		}











	
	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: 1fr 2fr 2fr;
		background-color: #ffffff;
		gap: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}
}


@media only screen and (min-width: 550px) and (max-width: 729px){


	#apresentacao_1-player{
		width: 500px;
		height: 320px;

	}

	#apresentacao_1{
		display: inherit;
		color: azure;
		text-align: center;
		text-justify: center;
		line-height: 100px;
		font-size: 25px;
	}

	

	#hero_prog{
		height: 400px;
	}


	#temporizador{
		position: relative;
		right: 10vw;
	}

	.flipTimer{
		scale:0.7;
		

	}

	#temporizador_legendas{
		grid-template-columns: 140px 110px 110px 110px;
		gap: 10px;
		position: relative;
		justify-content: center;
		left: 7vw
	}

		.timer{
			font-size: 1.3rem;
		}

	#prog_title {
		
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		

	}

	#prog_subtitle {
		
		text-align: center;
		padding-bottom: 50px;
		

	}


	.programacao_completa{
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: auto;
		display: grid;
		padding-bottom: 40px;
		gap: 50px;
		
		grid-template-columns: 1fr 3fr;
		grid-template-areas: 
		"icone_dia dia";
	}

	#apontador_dia{
		display:grid;
		grid-template-columns: 160px 6px;
		grid-template-areas:
		"icone_dia recorte";
		font-size: 0.7rem;




	}

	

	.dia{
		width: 500px;
		
	}

	.horario_prog{
		display: grid;
		grid-template-columns: 2fr 4fr;
		grid-template-rows: 3fr 0.5fr 3fr;
		align-items: center;
		justify-items: left;
		border-bottom-style: dashed;
		
		grid-template-areas:
		"horario titulo_palestra"
		"... icon_palestrate"
		"categoria icon_palestrante";
	}

		.titulo_palestra{
			font-size: 1.2rem;
			margin-bottom: 2px;

		}

		.horario_prog p, img {
			margin-left: 10px;
		}

		.icon_palestrante {
			padding-bottom: 10px;
		}

	

		.titulo_palestra3{
			font-size: 1.2rem;
			margin-bottom: 2px;

		}

		.horario_prog3 p, img {
			margin-left: 10px;
		}

		.icon_palestrante3 {
			padding-bottom: 10px;
		}











	
	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: 1fr 2fr 2fr;
		background-color: #ffffff;
		gap: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}
}


@media only screen and (min-width: 400px) and (max-width: 549px){


	.films{
		height: 400px;
	}


	#apresentacao_1-player{
		width: 390px;
		height: 245px;

	}

	#apresentacao_1{
		display: inherit;
		color: azure;
		text-align: center;
		text-justify: center;
		line-height: 100px;
		font-size: 25px;
	}

	#hero_prog{
		height: 400px;
	}


	#temporizador{
		position: relative;
		right: 32vw;
	}

	.flipTimer{
		scale:0.55;
		

	}

	#temporizador_legendas{
		grid-template-columns: 100px 90px 90px 90px;
		gap: 1px;
		position: relative;
		justify-content: center;
		right: -30vw;
	}

		.timer{
			font-size: 1.1rem;
		}

	#prog_title {
		
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		

	}

	#prog_subtitle {
		
		text-align: center;
		padding-bottom: 50px;
		

	}


	.programacao_completa{
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: auto;
		display: grid;
		padding-bottom: 40px;
		gap: 50px;
		
		grid-template-columns: 1fr 3fr;
		grid-template-areas: 
		"icone_dia dia";
	}

	#apontador_dia{
		display:grid;
		grid-template-columns: 160px 6px;
		grid-template-areas:
		"icone_dia recorte";
		font-size: 0.7rem;




	}

	

	.dia{
		width: 500px;
		
	}

	.horario_prog{
		display: grid;
		grid-template-columns: 2fr 4fr;
		grid-template-rows: 3fr 0.5fr 3fr;
		align-items: center;
		justify-items: left;
		border-bottom-style: dashed;
		
		grid-template-areas:
		"horario titulo_palestra"
		"... icon_palestrate"
		"categoria icon_palestrante";
	}

		.titulo_palestra{
			font-size: 1.2rem;
			margin-bottom: 2px;

		}

		.horario_prog p, img {
			margin-left: 10px;
		}

		.icon_palestrante {
			padding-bottom: 10px;
		}

	

		.titulo_palestra3{
			font-size: 1.2rem;
			margin-bottom: 2px;

		}

		.horario_prog3 p, img {
			margin-left: 10px;
		}

		.icon_palestrante3 {
			padding-bottom: 10px;
		}





	#contato{
		font-size: 1.5rem;
	}











	
	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: 1fr 2fr 2fr;
		background-color: #ffffff;
		gap: 20px;
		padding-top: 60px;
		padding-bottom: 60px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}

		#realizacao a img{
			width: 170px;
			height: 80px;
		}
}


@media only screen and (max-width: 399px){


	.films{
		height: 400px;
	}


	#apresentacao_1-player{
		width: 320px;
		height: 215px;

	}
	
	#hero_prog{
		height: 400px;
	}


	#temporizador{
		position: relative;
		right: 40vw;
	}

	.flipTimer{
		scale:0.45;
		

	}

	#temporizador_legendas{
		grid-template-columns: 90px 70px 70px 70px;
		gap: 1px;
		position: relative;
		justify-content: center;
		right: -40vw;
	}

		.timer{
			font-size: 0.9rem;
		}

	#prog_title {
		
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		

	}

	#prog_subtitle {
		
		text-align: center;
		padding-bottom: 50px;
		

	}


	.programacao_completa{
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: auto;
		display: grid;
		padding-bottom: 40px;
		gap: 50px;
		
		grid-template-columns: 1fr 3fr;
		grid-template-areas: 
		"icone_dia dia";
	}

	#apontador_dia{
		display:grid;
		grid-template-columns: 160px 6px;
		grid-template-areas:
		"icone_dia recorte";
		font-size: 0.7rem;




	}

	

	.dia{
		width: 500px;
		
	}

	.horario_prog{
		display: grid;
		grid-template-columns: 2fr 4fr;
		grid-template-rows: 3fr 0.5fr 3fr;
		align-items: center;
		justify-items: left;
		border-bottom-style: dashed;
		
		grid-template-areas:
		"horario titulo_palestra"
		"... icon_palestrate"
		"categoria icon_palestrante";
	}

		.titulo_palestra{
			font-size: 1.2rem;
			margin-bottom: 2px;

		}

		.horario_prog p, img {
			margin-left: 10px;
		}

		.icon_palestrante {
			padding-bottom: 10px;
		}

	

		.titulo_palestra3{
			font-size: 1.2rem;
			margin-bottom: 2px;

		}

		.horario_prog3 p, img {
			margin-left: 10px;
		}

		.icon_palestrante3 {
			padding-bottom: 10px;
		}





	#contato{
		font-size: 1.3rem;
	}











	
	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: 1fr 2fr 2fr;
		background-color: #ffffff;
		gap: 20px;
		padding-top: 60px;
		padding-bottom: 60px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}

		#realizacao a img{
			width: 150px;
			height: 70px;
		}

}