

footer {
    height: auto;
    width: auto;
    margin-bottom: -10px;
    background-color: black;
    width: 100vw;
}

    .logos {
        
        display: grid;
        grid-template-columns: 1fr 1fr 
        grid-template-rows: 1fr 
        background-color: black;
        height: 100px;
        padding-top: 20px;
        align-items: end;
        justify-items: center;
        background-color: black;
        grid-template-areas:
            "cop social";
    }


        #social {
            grid-area: social;
            background-color: black;
        }

            #social ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 10px;
                list-style-type: none;
                background-color: black;
            }

                #facebook {
                    text-align: right;
                }
            
                #linkedin {
                    text-align: left;
                }

                #social a {
                    width: 25px;
                    height: 25px;
                    background-color: black;
                }

        #cop {
            background-color: black;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-area: cop;
            background-color: black;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            margin-top: auto;
        }

            #cop p {
                color: white;
                text-align: center;
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                line-height: 62px;
                font-weight: 700;
                text-transform: uppercase;
            }






@media only screen and (max-width: 549px){

    #cop p {
        font-size: 12px;
    }

    #social a img {
        width: 30px;
        height: 30px;
        padding-bottom: 15px;
    }












