

#cabecalho {	
    display: grid;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    left: 0;	
    width: auto;	
    height: 80px;
    background-color: black;
    grid-template-columns: 1fr 5fr 1fr ;
    grid-template-areas: 
    "logo links botao1";
}

    #button-header {     
        margin-right: 30px;
        margin-top: 1px;
        grid-area: botao1;
        justify-self: center;
        align-self: center;
    }


    .button-inscricao_header{
        background-color: #48D1CC ;
        color: #fff;
        border-radius: 35px;        
        font-size: 18px;
        font-weight: bolder;
        padding: 12px 37px;
        cursor: pointer;
        transition: 0.2s;
    }
 
        .button-inscricao_header:hover {
            background-color: #3cb1ad ;
            scale: 1.03;
            transition: 0.2s;
        }
 
    

    #logo {	
        grid-area: logo;
        justify-self: center;
        margin-top: 15px;
    }

        #logo img{
            
            height: 55px;
        }

    

    #links { 
        grid-area: links;
        justify-self: start;
        height: 80px;
        margin-top: -22px;
    }

        #links ul {
            padding: 0px;
            margin: 0px;
            float: right;
            list-style-type: none;
            margin-top: 0px;
            margin-right: 15px;
        }

        #links li {
            display: inline;
            

        }

        a:link {
            text-decoration: none;
        }

        


        #links a {
            padding: 0px 5px;
            display: inline-block;
            font-size: 14px;
            color: #ffffff;
            font-style: normal;
            font-weight: 900;
            letter-spacing: 0px;
            text-transform: uppercase;
            line-height: 140px;
        }

        #links a:hover {
            font-size: 15px;
            color: #39ff14;
        }


        /* nav toggle */
    .nav-toggle {
        cursor: pointer;
        height: 2rem;
        right: 4rem;
        position: fixed;
        top: 1.9rem;
        width: 3.6rem;
        z-index: 2;
    }
    .nav-toggle:hover {
        opacity: 0.8;
    }
    .nav-toggle .nav-toggle-bar,
    .nav-toggle .nav-toggle-bar::after,
    .nav-toggle .nav-toggle-bar::before {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background: white;
        content: "";
        height: 0.4rem;
        transition: all 0.5s;
        width: 100%;
    }
    .nav-toggle .nav-toggle-bar {
        margin-top: 0;
    }
    .nav-toggle .nav-toggle-bar::after {
        margin-top: 0.8rem;
    }
    .nav-toggle .nav-toggle-bar::before {
        margin-top: -0.8rem;
    }
    .nav-toggle.expanded .nav-toggle-bar {
        background: transparent;
    }
    .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
        background: white;
        margin-top: 0;
    }
    .nav-toggle.expanded .nav-toggle-bar::after {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .nav-toggle.expanded .nav-toggle-bar::before {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    /* nav */
    .nav {
        
        font-style: normal;
        font-weight: 900;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-align: center;
        line-height: 5rem;
    
        background: #c7fceb;
        color: rgb(0, 0, 0);
        cursor: pointer;
        display: flex;
        font-size: 1.5rem;
        height: 100vh;
        right: -40rem;
        padding: rem 2rem 2rem 2rem;
        position: fixed;
        top: 0;
        transition: right 0.5s;
        width: 440px;
        height: 60rem;
        z-index: 1;
    }
    .nav.expanded {
        right: 0;
    }
    .nav ul {
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        /* margin-top: auto;
        margin-bottom: auto; */
        margin-top: 10rem;
        padding: 0;
    }
    

        
    




@media only screen and (max-width: 1000px){


    #cabecalho {	
        display: flexbox;
    }

    
    #links{
        display: none;
    }

    #button-header{
        display: none;
    }

    #logo{
        

        left: 2rem;
        position: fixed;
        
       
        
    } 

    #button-header2 {     
        
        justify-self: center;
        align-self: center;
             
    }

    
}


@media only screen and (min-width: 1001px){

    .nav-toggle{
        display: none;
    }

    .nav{
        display: none;
    }








