html, body, h2, h1, h3, h4, p{  
	font-family: "Montserrat", sans-serif;
    margin: 0;  
	padding: 0; 
	color: black;
}

html {
	box-sizing: border-box;
	overflow: auto;
	height: auto;
	scroll-behavior: smooth;
	
}

h4 {
	font-size: 23px;
	line-height: 31px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: none;
}

h2 {
	font-size: 43px;
	line-height: 47px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: uppercase;
}

p {
	font-size: 16px;
	line-height: 26px;
	font-style: normal;
	font-weight: 400;
}

img {
	margin: 0;
}

body {
	padding-right: -10px;;
	
	
}

	header {
		margin-top: 80px;
		height: 900px;
		padding-top: 10px;
		margin-left: -10px;
		margin-right: -10px;
	}

		#titulo{
			text-align: center;
			
		}
		
		#work{
			padding-top: 80px;
		}

		#videoBG {
			position:fixed;
			z-index: -1;

			width:130%;
			height: auto;
			left: -300px;
		}



		




		.title-large1 {
			color: #ffffff;
			font-family: 'versaversa';
			font-size: 2.5rem;
			line-height: 1;
			padding: 1rem .5rem .5rem .5rem;
			margin-bottom: 5px;
			
			width: auto;
		}

			.title-large1 strong{
				background-color: #54bb35;
				padding-left: 10px;
				padding-right: 10px;

			}

		.title-large2 {
			color: #ffffff;
			font-family: 'versaversa';
			font-size: 2.5rem;
			line-height: 1;
			padding: 1rem .5rem .5rem .5rem;
			margin-bottom: 5px;
			
		}

		.title-large2 strong{
			background-color: #0c6914;
			padding-left: 10px;
			padding-right: 10px;

		}


		.title-large3 {
			color: #ffffff;
			font-family: 'versaversa';
			font-size: 2.5rem;
			line-height: 1;
			padding: 1rem .5rem .5rem .5rem;
			
			margin-bottom: 60px;
			margin-top: 60px;
		}

		#temporizador{
			background-color: midnightblue;
			height: 150px;
			width: 800px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 70px;
			margin-top: 70px;
		}

	
		.button-inscricao{
			background-color: #73c1a9 ;
			color: #fff;
			border-radius: 35px;        
			font-size: 20px;
			font-weight: bolder;
			padding: 20px 43px;
			font-family: "Open Sans", sans-serif;
			cursor: pointer;
		}
	 
			.button-inscricao:hover {
				background-color: #54927f;
			}

		#button-titulo{
			margin-bottom: 70px;

		}

	
		#informacoes-evento{
			height: auto;
			background-color: #f4f4fb;
			
		}

			#titulo-informacoes{
				font-size: 35px;
				padding-top: 100px;
				margin-left: 310px;
				padding-bottom: 80px;
			}


			#cards-evento{
				margin-left: auto;
				margin-right: auto;
				display: grid;
				justify-content: center;  
				gap: 40px 40px;
				padding-bottom: 100px;

				
				
				grid-template-columns: 400px 400px 400px;
				grid-template-rows: 500px;

			}

				#card-evento-1{
					justify-self: stretch;
					align-self: stretch;

				}

				#card-evento-2{
					justify-self: stretch;
					align-self: stretch;
					
				}

				#card-evento-3{
					justify-self: stretch;
					align-self: stretch;
					
				}


					.photo{
						width: 400px;
						height: 300px;
						align-self: center;
						justify-self: center;
						transition-duration: 0.6s;
						padding-bottom: 40px;
					}

						.photo img:hover{
							
							transition-duration: 0.6s;
						}

					.texto-evento{
						display: grid;
						width: 400px;
					}

					
						.card-title{
							display: grid;
							background-color: rgb(255, 255, 255);
							color: rgb(0, 0, 0);
							text-align: center;
							font-size: 35px;
							align-self: stretch;
							justify-self: stretch;
							padding-top: 10px;
							
						}

						.card-text{
							display: grid;
							background-color: rgb(255, 255, 255);
							padding:10px;
							text-align: center;
										
							color: rgb(0, 0, 0);
							
						}		


			

			

				
		

		
		#palestrantes{

			background-color: #51b43d;
			margin-left: -8px;
			margin-right: -8px;	
			padding-bottom: 80px;		

		}	

			

			#lista-palestrantes{
				margin-left: auto;
				margin-right: auto;
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				padding-bottom: 40px;

			}	

















			

				#palestrante-foto-1{
					grid-row: 1/2;					
					grid-column: 3/4;					
				}

					#palestrante-foto-1:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-1 {
					grid-row: 1/2;
					grid-column: 3/4;
					background-color: #3c8d40;
				}




				#palestrante-foto-2{
					grid-row: 1/2;					
					grid-column: 4/5;					
				}
				
					#palestrante-foto-2:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-2 {
					grid-row: 1/2;
					grid-column: 4/5;
					background-color: #3c8d40;
				}



				#palestrante-foto-3{
					grid-row: 1/2;					
					grid-column: 5/6;					
				}

					#palestrante-foto-3:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-3 {
					grid-row: 1/2;
					grid-column: 5/6;
					background-color: #3c8d40;
				}




				#palestrante-foto-4{
					grid-row: 2/3;					
					grid-column: 1/2;					
				}
				
					#palestrante-foto-4:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-4 {
					grid-row: 2/3;
					grid-column: 1/2;
					background-color: #3c8d40;
				}



				#palestrante-foto-5{
					grid-row: 2/3;					
					grid-column: 2/3;					
				}

					#palestrante-foto-5:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-5 {
					grid-row: 2/3;
					grid-column: 2/3;
					background-color: #3c8d40;
				}




				#palestrante-foto-6{
					grid-row: 2/3;					
					grid-column: 3/4;					
				}
				
					#palestrante-foto-6:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-6 {
					grid-row: 2/3;
					grid-column: 3/4;
					background-color: #3c8d40;
				}



				#palestrante-foto-7{
					grid-row: 2/3;					
					grid-column: 4/5;					
				}

					#palestrante-foto-7:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-7 {
					grid-row: 2/3;
					grid-column: 4/5;
					background-color: #3c8d40;
				}




				#palestrante-foto-8{
					grid-row: 2/3;					
					grid-column: 5/6;					
				}
				
					#palestrante-foto-8:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-8 {
					grid-row: 2/3;
					grid-column: 5/6;
					background-color: #3c8d40;
				}



				#palestrante-foto-9{
					grid-row: 3/4;					
					grid-column: 1/2;					
				}

					#palestrante-foto-9:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-9 {
					grid-row: 3/4;
					grid-column: 1/2;
					background-color: #3c8d40;
				}


				#palestrante-foto-10{
					grid-row: 3/4;					
					grid-column: 2/3;					
				}
				
					#palestrante-foto-10:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-10 {
					grid-row: 3/4;
					grid-column: 2/3;
					background-color: #3c8d40;
				}

				#palestrante-foto-11{
					grid-row:  3/4;					
					grid-column: 3/4;					
				}

					#palestrante-foto-11:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-11 {
					grid-row: 3/4;
					grid-column: 3/4;
					background-color: #3c8d40;
				}


				#palestrante-foto-12{
					grid-row: 3/4;					
					grid-column: 4/5;					
				}
				
					#palestrante-foto-12:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-12 {
					grid-row: 3/4;
					grid-column: 4/5;
					background-color: #3c8d40;
				}

				#palestrante-foto-13{
					grid-row: 3/4;					
					grid-column: 5/6;					
				}

					#palestrante-foto-13:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-13 {
					grid-row: 3/4;
					grid-column: 5/6;
					background-color: #3c8d40;
				}


				#palestrante-foto-14{
					grid-row: 4/5;					
					grid-column: 1/2;					
				}
				
					#palestrante-foto-14:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-14 {
					grid-row: 4/5;
					grid-column: 1/2;
					background-color: #3c8d40;
				}

				#palestrante-foto-15{
					grid-row: 4/5;					
					grid-column: 2/3;					
				}

					#palestrante-foto-15:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-15 {
					grid-row: 4/5;
					grid-column: 2/3;
					background-color: #3c8d40;
				}


				#palestrante-foto-16{
					grid-row: 4/5;					
					grid-column: 3/4;					
				}
				
					#palestrante-foto-16:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-16 {
					grid-row: 4/5;
					grid-column: 3/4;
					background-color: #3c8d40;
				}

				#palestrante-foto-17{
					grid-row: 4/5;					
					grid-column: 4/5;					
				}

					#palestrante-foto-17:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-17 {
					grid-row: 4/5;
					grid-column: 4/5;
					background-color: #3c8d40;
				}


				#palestrante-foto-18{
					grid-row: 4/5;					
					grid-column: 5/6;					
				}
				
					#palestrante-foto-18:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-18 {
					grid-row: 4/5;
					grid-column: 5/6;
					background-color: #3c8d40;
				}

				#palestrante-foto-19{
					grid-row: 5/6;					
					grid-column: 1/2;					
				}
				
					#palestrante-foto-19:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-19 {
					grid-row: 5/6;
					grid-column: 1/2;
					background-color: #3c8d40;
				}

				#palestrante-foto-20{
					grid-row: 5/6;					
					grid-column: 2/3;					
				}

					#palestrante-foto-20:hover{
						opacity: 30%; transition-duration: 0.6s;
					}

				#palestrante-nome-20 {
					grid-row: 5/6;
					grid-column: 2/3;
					background-color: #3c8d40;
				}


				






























				.nome-foto{
					padding-top: 210px;
					color: #ffffff;
					font-size: 30px;
					text-align: left;
					margin-left: 15px;


				}

				.descricao-foto{
					color: #ffffff;
					font-size: 22px;
					text-align: left;
					margin-left: 15px;

				}

					

				
				#titulo-palestrantes {
					text-align: center;
					color: #fff;
					margin-top: -4px;
					margin-left: 10px;
					margin-right: 10px;

					align-self: center;
					justify-self: center;
					grid-row: 1/2;
					grid-column: 1/3;
				}

				
				.foto-palestrante{
					display: grid;
					

					justify-items: stretch;
					align-items: stretch;
				}

					.foto-palestrante img{
						width: 100%;
						height: auto;
						/* fit-content: cover; */

						/*align-self: stretch;
						justify-self: stretch; */


					}

					.foto-palestrante span{

					}

			


	#programacao {
		background-color: #e44b67;
		height: 400px;
		margin-left: -8px;
		margin-right: -8px;
		text-align: center;
		
	}

		#titulo-programacao{
			padding-top: 100px;
			padding-bottom: 100px;

		}

		#botao-programacao{
			


		}

					
	#inscricao{
		background-color: #ffffff;
		margin-left: -8px;
		margin-right: -8px;
	}

		

		#ingresso{
			display: grid;
			grid-template-rows: 120px 120px 180px 20px;
			font-size: 30px;
			padding-top: 100px;
			padding-bottom: 100px;			
			margin-left: auto;
			margin-right: auto;
			grid-template-columns: 450px;
			width: 450px;
			
			align-items: center;
			justify-items: center;	
			color: #ffffff
		}

			

			#ingresso span{
				padding-top: 40px;
				text-align: center;
				background-color: #534893;
				justify-self: stretch;
				align-self: stretch;
			}

			#vagas-limitadas{
				border-bottom: dotted;
			}

			#ingresso a{

				align-self: center;
			}

			#recorte{
				display:flex;
			}

			.bolas{
				background-color: #ffffff;
				width: 70px;
				border-top: solid;
				border-color: #ffffff;
				border-radius: 50%;
				padding-top: 80px;

			}

		
	#contato{

		background-color: #46b5e3;
		color: #ffffff;
		font-size: 25px;
		margin-left: -8px;
		margin-right: -8px;
		text-align: center;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#realizacao{
		display: grid;
		grid-template-columns: 1fr 2fr 2fr ;
		background-color: #ffffff;
		height: 500px;
		margin-left: -8px;
		margin-right: -8px;
		align-items: center;
		justify-items: center;
	}

		#realizacao span{
			color: #000000;
			font-size: 25px;

		}















	















@media only screen and (max-width: 1250px){

	body {
		width: 100vw;
	}

	#cards{
		display: grid;
		grid-template-columns: 1fr 600px 1fr;
		grid-template-rows: 1px 130px 50px 600px 600px 600px 50px;
		gap:25px;
		background-color: #2c4059;
		grid-template-areas: 
		"torto-top torto-top torto-top"
		"rede-empresas rede-empresas rede-empresas"
		"separador-cards separador-cards separador-cards"
		"..... image-card1 ....."
		"..... image-card2 ....."
		"..... image-card3 ....."
		"torto-bottom torto-bottom torto-bottom";
	}
}

@media only screen and (min-width: 800px) and (max-width: 1150px){

	#subtitle{
		padding-right: 100px;
		padding-left: 100px;
	}
}

@media only screen and (max-width: 1000px){

	#graficos-empresas{
		display:grid;	
		gap: 20px;	
		grid-template-columns: 1fr;
		grid-template-rows: 500px 500px 700px 500px 500px;
		grid-template-areas: 
		"vinculo"
		"origem"
		"atuacao"
		"sede"
		"porte";
	}

	.image-cards-grid{
		
		grid-template-rows: 350px 110px 150px;
	}

	.card-icon{
		grid-area:card-icon;
		max-width: 80%;
		max-height: 80%;
		
	}
}

@media only screen and (max-width: 800px){

	#graficos-empresas{
		display:grid;		
		gap: 20px;
		grid-template-columns: 1fr;
		grid-template-rows: 600px 600px 900px 600px 600px;
		grid-template-areas: 
		"vinculo"
		"origem"
		"atuacao"
		"sede"
		"porte";
	}	

	#atuacao h4{
		padding-bottom: 130px;
	}

	#atuacao{
		display: none;
		grid-area: atuacao;
		align-self: center;
		justify-self: center;


	}

	#atuacao-90{
		display: inherit;
		grid-area: atuacao;
		align-self: center;
		justify-self: center;


	}



}

@media only screen and (min-width: 500px) and (max-width: 800px){

	#subtitle{
		padding-right: 50px;
		padding-left: 50px;
	}
}

@media only screen and (max-width: 650px){
	
	#cards{
		display: grid;
		grid-template-columns: 1fr 450px 1fr;
		grid-template-rows: 1px 130px 50px 600px 600px 600px 50px;
		gap:15px;
		background-color: #2c4059;
		grid-template-areas: 
		"torto-top torto-top torto-top"
		"rede-empresas rede-empresas rede-empresas"
		"separador-cards separador-cards separador-cards"
		"..... image-card1 ....."
		"..... image-card2 ....."
		"..... image-card3 ....."
		"torto-bottom torto-bottom torto-bottom";
	}
}

@media only screen and (max-width: 600px){

	#graficos-empresas{
		display:grid;		
		grid-template-columns: 1fr;
		grid-template-rows: 500px 500px 650px 500px 500px;
		grid-template-areas: 
		"vinculo"
		"origem"
		"atuacao"
		"sede"
		"porte";
	}

	#atuacao h4{
		padding-bottom: 85px;
	}

	.button1 {
		display: block;
		border-radius: 15px;
		border-style: solid;
		border-color: #78f0d3;
		background: none;
		font-size: 20px;
		font-weight: bolder;
		margin: 10px;
		padding: 20px 43px;
		font-family: "Open Sans", sans-serif;
		cursor: pointer;
	}
}

@media only screen and (max-width: 500px){

	#graficos-empresas{
		display:grid;		
		grid-template-columns: 1fr;
		grid-template-rows: 320px 320px 650px 320px 360px;
		grid-template-areas: 
		"vinculo"
		"origem"
		"atuacao"
		"sede"
		"porte";
	}

	#atuacao h4{
		padding-bottom: 85px;
	}

	#cards{
		display: grid;
		grid-template-columns: 1fr 350px 1fr;
		grid-template-rows: 1px 130px 50px 600px 600px 650px 50px;
		gap:15px;
		background-color: #2c4059;
		grid-template-areas: 
		"torto-top torto-top torto-top"
		"rede-empresas rede-empresas rede-empresas"
		"separador-cards separador-cards separador-cards"
		"..... image-card1 ....."
		"..... image-card2 ....."
		"..... image-card3 ....."
		"torto-bottom torto-bottom torto-bottom";
	}

	#card-title-3{
		font-size: 25px;
	}

	#faturamento-2018 {
		width: 450px;
	}

	#dados{		
		grid-template-rows: 200px 30px 160px 400px;		
	}

	#subtitle{
		padding-right: 20px;
		padding-left: 20px;
	}
}

@media only screen and (max-width: 400px){

	#graficos-empresas{
		display:grid;		
		grid-template-columns: 1fr;
		grid-template-rows: 320px 320px 600px 320px 360px;
		grid-template-areas: 
		"vinculo"
		"origem"
		"atuacao"
		"sede"
		"porte";
	}

	#atuacao h4{
		padding-bottom: 85px;
	}

	#faturamento-2018 h2{
		font-size: 35px;
	}

	.numero {
		font-size: 60px;
	}
}

@media only screen and (max-width: 350px){

	#cards{
		display: grid;
		grid-template-columns: 1fr 300px 1fr;
		grid-template-rows: 1px 130px 50px 600px 600px 600px 50px;
		gap:15px;
		background-color: #2c4059;
		grid-template-areas: 
		"torto-top torto-top torto-top"
		"rede-empresas rede-empresas rede-empresas"
		"separador-cards separador-cards separador-cards"
		"..... image-card1 ....."
		"..... image-card2 ....."
		"..... image-card3 ....."
		"torto-bottom torto-bottom torto-bottom";		
	}

	#card-title-3{
		font-size: 18px;
	}

	#dados{		
		grid-template-rows: 250px 30px 160px 250px;		
	}
}




@media (min-aspect-ratio: 16/9) {
	#videoBG {
		width:130%;
		height: auto;
	}
}
@media (max-aspect-ratio: 16/9) {
	#videoBG { 
		width:auto;
		height: 100%;
	}
}
@media (max-width: 767px) {
	
	#videoBG {
		
	}
	body {
		background: url('../images/poster.png');
		background-size: cover%;
		background-position: center 10%;
		background-repeat: no-repeat;
	}
}