html, body, h2, h1, h3, h4, p {  
	font-family: "Raleway", sans-serif;
    margin: 0;  
	padding: 0; 
	color: black;
}

html {
	box-sizing: border-box;
	overflow: auto;
	height: auto;
	scroll-behavior: smooth;
	
}

h4 {
	font-size: 23px;
	line-height: 31px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: none;
}

h2 {
	font-size: 43px;
	line-height: 47px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: uppercase;
}

p {
}

img {
	margin: 0;
}

body {
}

	header {
		margin-top: 80px;
		height: auto;
		padding-top: 10px;
	}

		.title{
			font-family: 'versaversa';
			font-size: 2.1rem;
			line-height: 1.2em;
			text-transform: uppercase;
			color: black;
		}

		.subtitle{
			font-family: 'versaversa';
			font-size: 1.6em;
			line-height: 1.2em;
			text-transform: uppercase;
			color: black;
		}

		#hero{
			text-align: center;
		}

		#hero_prog{
			text-align: center;
			background-image: url("../images/hero/evento-3.png");
			background-size: cover;
			background-position: center 30%;
			background-repeat: no-repeat;
			height: 600px;
			filter: blur(2px);
        }

 



		.title-large1 {
			font-family: 'versaversa';
			color: #ffffff;
			font-size: 2.5rem;
			line-height: 1;
			padding: 1rem .5rem .5rem .5rem;
			margin-bottom: 5px;
			
			width: auto;
		}

			.title-large1 strong{
				background-color: #2edb96;
				padding-left: 10px;
				padding-right: 10px;

			}

		.title-large2 {
			font-family: "RalewayBold", sans-serif;
			color: #ffffff;
			font-size: 2.1rem;
			line-height: 1em;
			padding: 1rem .5rem .5rem .5rem;
			margin-bottom: 5px;
			
		}

		.title-large2 strong{
			background-color: #379634;
			padding-left: 10px;
			padding-right: 10px;

		}


		.title-large3 {
			font-family: 'sora';
			color: #ffffff;
			font-size: 2rem;
			line-height: 1.2em;
			padding: 1rem .5rem .5rem .5rem;
			margin-bottom: 60px;
			margin-top: 60px;
		}

		#temporizador{
			background-color: #7CFFCB;
			height: 150px;
			width: 800px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 70px;
			margin-top: 70px;
		}

	
		.button-inscricao{
			background-color: #48D1CC ;
			color: #fff;
			border-radius: 35px;        
			font-size: 20px;
			font-weight: bolder;
			padding: 20px 43px;
			cursor: pointer;
			transition: 0.5s;
		}
	 
			.button-inscricao:hover {
				background-color: #3cb1ad ;
				scale: 1.1;
				transition: 0.5s;
			}

		#button-titulo{
			margin-bottom: 70px;
		}

	#contato{
		background-color: #3ca7a3;
		color: #ffffff;
		text-align: center;
		padding-top: 100px;
		padding-bottom: 100px;
		text-transform: none;
	}

	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 2fr;
		background-color: #ffffff;
		gap: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title org_title org_title"
		" ufrj_logo  pos_biof_logo pos_fisio_logo ibccf_logo " ;
	}

		.logos_realizacao{
			height: 6rem;
		}

		
		#realizacao img{
			transition: 0.3s;

		}

		#realizacao img:hover{
			scale: 1.05;
			transition: 0.3s;
		}

		#org_title{
			grid-area:org_title;
		}

		#ufrj_logo{
			grid-area: ufrj_logo;
		}

		#pos_biof_logo{
			grid-area:pos_biof_logo;

		}

		#pos_fisio_logo{
			grid-area:pos_fisio_logo;
		}

		#ibccf_logo{
			grid-area:ibccf_logo;
		}

    #form_insc{
		background-color: #ffffff;
		align-items: center;
        justify-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
	}

		.formulario{
			max-width: 500px;
			padding: 10px 20px;
			background: #c8daf1;
			margin: 10px auto;
			padding: 20px;
			border-radius: 8px;
		}

		.formulario fieldset{
			border: none;
		}

		.formulario legend {
			font-size: 1.4em;
			margin-bottom: 10px;
		}

		.formulario label {
			display: block;
			margin-bottom: 8px;
		}

		#checkbox{
			display: inline;
			margin-bottom: 20px;
		}

		#form_title{
			text-align: center;
		}

		.formulario input[type="text"], .formulario input[type="email"], .formulario select {
			background: rgba(255,255,255,.1);
			border: none;
			border-radius: 4px;
			font-size: 15px;
			margin: 0;
			outline: 0;
			padding: 10px;
			width: 100%;
			box-sizing: border-box; 
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box; 
			background-color: #e8eeef;
			color:#8a97a0;
			-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
			box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
			margin-bottom: 30px;
		}

		.formulario input[type="text"]:focus, .formulario input[type="email"]:focus, .formulario select:focus{
			background: #d2d9dd;
		}

		.formulario select{
			-webkit-appearance: menulist-button;
		}

		.formulario .number {
			background: #78f0d3;
			color: #fff;
			height: 30px;
			width: 30px;
			display: inline-block;
			font-size: 0.8em;
			margin-right: 4px;
			line-height: 30px;
			text-align: center;
			text-shadow: 0 1px 0 rgba(255,255,255,0.2);
			border-radius: 15px 15px 15px 0px;
		}
		
		.formulario input[type="submit"], .formulario input[type="button"]{
			position: relative;
			display: block;
			padding: 19px 39px 18px 39px;
			color: #FFF;
			margin: 0 auto;
			background: #48D1CC;
			font-size: 18px;
			text-align: center;
			font-style: normal;
			width: 100%;
			border: 1px solid  #48D1CC;
			border-width: 1px 1px 3px;
			margin-bottom: 10px;
			border-radius: 8px;
			transition: 0.2s;
		}

		.formulario input[type="submit"]:hover, .formulario input[type="button"]:hover{
			background:  #3cb1ad;
			scale: 1.03;
			transition: 0.2s;
		}

		#link_disciplina{
			margin-top: 10px;
			margin-bottom: 30px;
		}






		/* <----------------------------------@media--------------------------------------> */





	@media only screen and (min-width: 1025px) and (max-width: 1268px){

		#realizacao{
			display: grid;
			grid-template-columns: 1fr 1fr ;
			grid-template-rows: 1fr 2fr 2fr;
			background-color: #ffffff;
			gap: 30px;
			padding-top: 60px;
			padding-bottom: 60px;
			align-items: center;
			justify-items: center;
			grid-template-areas:
			"org_title org_title "
			" ufrj_logo  pos_biof_logo "
			"pos_fisio_logo ibccf_logo ";
		}
	
	}
		
	@media only screen and (min-width: 730px) and (max-width: 1024px){
	
		.wrap {
			width: 80%;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-align-content: stretch;
			-ms-flex-line-pack: stretch;
			align-content: stretch;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			padding-bottom: 60px;
			margin-left: auto;
			margin-right: auto;
		}
		
		#realizacao{
			display: grid;
			grid-template-columns: 1fr 1fr ;
			grid-template-rows: 1fr 2fr 2fr;
			background-color: #ffffff;
			gap: 30px;
			padding-top: 60px;
			padding-bottom: 60px;
			align-items: center;
			justify-items: center;
			grid-template-areas:
			"org_title org_title "
			" ufrj_logo  pos_biof_logo "
			"pos_fisio_logo ibccf_logo ";
		}
	}
	
	
	@media only screen and (min-width: 550px) and (max-width: 729px){
	
		#hero_prog{
			height: 500px;
			filter: blur(2px);
		}

		.formulario{
			max-width: 400px;
			padding: 10px 20px;
			background: #c8daf1;
			margin: 10px auto;
			padding: 17px;
			border-radius: 8px;
		}
		
		#realizacao{
			display: grid;
			grid-template-columns: 1fr 1fr ;
			grid-template-rows: 1fr 2fr 2fr;
			background-color: #ffffff;
			gap: 30px;
			padding-top: 60px;
			padding-bottom: 60px;
			align-items: center;
			justify-items: center;
			grid-template-areas:
			"org_title org_title "
			" ufrj_logo  pos_biof_logo "
			"pos_fisio_logo ibccf_logo ";
		}
	}
	
	
	@media only screen and (min-width: 400px) and (max-width: 549px){
	
		#hero_prog{
			height: 500px;
			filter: blur(2px);
		}

		.formulario{
			max-width: 300px;
			padding: 5px 10px;
			background: #c8daf1;
			margin: 10px auto;
			padding: 17px;
			border-radius: 8px;
		}
	
		#evento_texto{
			font-size: 1.2rem;
		}
	
		#contato{
			font-size: 1.5rem;
		}
		
		#realizacao{
			display: grid;
			grid-template-columns: 1fr 1fr ;
			grid-template-rows: 1fr 2fr 2fr;
			background-color: #ffffff;
			gap: 20px;
			padding-top: 60px;
			padding-bottom: 60px;
			align-items: center;
			justify-items: center;
			grid-template-areas:
			"org_title org_title "
			" ufrj_logo  pos_biof_logo "
			"pos_fisio_logo ibccf_logo ";
		}
	
			#realizacao a img{
				width: 170px;
				height: 80px;
			}
	}
	
	
@media only screen and (max-width: 399px){

	#hero_prog{
		height: 450px;
		filter: blur(2px);
	}

	.formulario{
		max-width: 280px;
		padding: 5px 10px;
		background: #c8daf1;
		margin: 10px auto;
		padding: 17px;
		border-radius: 8px;
	}

	#form_title{
		text-align: center;
		font-size: 1.2rem;
	}

	#evento_texto{
		font-size: 1.4rem;
	}

	#contato{
		font-size: 1.3rem;
	}
	
	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: 1fr 2fr 2fr;
		background-color: #ffffff;
		gap: 20px;
		padding-top: 60px;
		padding-bottom: 60px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}

		#realizacao a img{
			width: 170px;
			height: 80px;
		}
}