html, body, h2, h1, h3, h4, p {  
	font-family: "Raleway", sans-serif;
    margin: 0;  
	padding: 0; 
	color: black;
}

html {
	box-sizing: border-box;
	overflow: auto;
	height: auto;
	scroll-behavior: smooth;
	
}

h4 {
	font-size: 23px;
	line-height: 31px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: none;
}

h2 {
	font-size: 43px;
	line-height: 47px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: uppercase;
}

p {
}

img {
	margin: 0;
}

body {
	padding-right: -10px;;
	
	
}

	header {
		margin-top: 80px;
		height: auto;
		padding-top: 10px;
		margin-left: -10px;
		margin-right: -10px;
	}

		.title{
			font-family: 'versaversa';
			font-size: 2.1rem;
			line-height: 1.2em;
			text-transform: uppercase;
			color: black;
		}

		.subtitle{
			font-family: 'versaversa';
			font-size: 1.6em;
			line-height: 1.2em;
			text-transform: uppercase;
			color: black;
		}


		

		#hero{
			text-align: center;
			
		}

		#hero_prog{
			text-align: center;
			background-image: url("../images/hero/prog_hero.jpeg");
			background-size: cover;
			background-position: center 30%;
			background-repeat: no-repeat;
			height: 600px;
			filter: blur(2px);
			
			
        }
		
		#programacao{
			
			height:auto;
			background-color: #c7fceb;
			padding-bottom: 80px;
		}

			#prog_title{
				height: 100px;
				width: 70%;
				text-align: left;
				margin-left: auto;
				margin-right: auto;
				padding-top: 100px;


			}

			#prog_subtitle{
				height: 100px;
				width: 70%;
				text-align: left;
				margin-left: auto;
				margin-right: auto;
				

			}

		.programacao_completa{
			margin-left: auto;
			margin-right: auto;
			width: 70%;
			height: auto;
			display: grid;
			padding-bottom: 40px;
			gap: 50px;
			
			grid-template-columns: 1fr 3fr;
			grid-template-areas: 
			"icone_dia dia";
		}

			#apontador_dia{
				display:grid;
				grid-template-columns: 220px 10px;
				grid-template-areas:
				"icone_dia recorte";




			}

			.icone_dia{
				grid-area: icone_dia;
				background-color: #836FFF;
				height: 150px;
				text-align: justify;
				padding: 20px;
				
				

			}
				.icone_dia p{
					color: #fff;
				}


			#recorte{
				position: relative;
				right: 30px;
				grid-area: recorte;
				margin-right: 5px;
				

			}

				.seta{
					
					background-color:#836FFF;
				
					margin-top: 75px;
				
					
					height: 50px;

					padding-right: 70px;
					

					
					border-radius: 150%;
					
		
					

				}

			.dia{
				
				grid-area: dia;
				background-color: #ffffff;

			}

				.dia_title{
					text-align: center;
					height: 130px;
					border-bottom-style: solid;
				}

					.separador{
						height: 20px;
						background-color:#3ea7d1;

					}

				.horario_prog{
					display: grid;
					grid-template-columns: 1fr 3fr;
					grid-template-rows: 3fr 0.5fr 3fr;
					align-items: center;
					justify-items: left;
					border-bottom-style: dashed;
					grid-template-areas:
					"horario titulo_palestra"
					"... icon_palestrate"
					"categoria icon_palestrante";
				}

					.horario_prog p, img{
						margin-left: 40px;
					}

					.horario{
						grid-area: horario;

					}

					.categoria{
						grid-area: categoria;
						
						

					}


					

					.titulo_palestra{
						margin: 40px;
						grid-area: titulo_palestra;
						justify-self: left;
						font-size: 1.4rem;

						font-family: 'versaversa';
						line-height: 1.2em;
						text-transform: uppercase;
						color: black;
						

					}

					.icon_palestrante{
						padding-bottom: 40px;
						
						grid-area: icon_palestrante;
						

					}

						.icon_palestrante img{
							width: 80px;
							height: 80px;
							border-radius: 50%;
							/* filter: grayscale(100%); */
							/* transition: 0.2s;
						} */

						/* .icon_palestrante img:hover{
							width:90px;
							height: 90px;
							transition: 0.2s;
						} */
					}



				.horario_prog4{
					display: grid;
					grid-template-columns: 1fr 3fr;
					grid-template-rows: 3fr 0.5fr 3fr;
					align-items: center;
					justify-items: left;
					border-bottom-style: dashed;
					grid-template-areas:
					"horario4 titulo_palestra4"
					"... icon_palestrate4"
					"categoria4 icon_palestrante_4";
				}

					.horario_prog4 p, img{
						margin-left: 40px;
					}

					.horario4{
						grid-area: horario;

					}

					.categoria4{
						grid-area: categoria;
						
						

					}


					

					.titulo_palestra4{
						margin: 40px;
						grid-area: titulo_palestra;
						justify-self: left;
						font-size: 1.4rem;

						font-family: 'versaversa';
						line-height: 1.2em;
						text-transform: uppercase;
						color: black;
						

					}

					.icon_palestrante4{
						padding-bottom: 40px;
						
						grid-area: icon_palestrante;
						

					}

						.icon_palestrante4 img{
							width: 80px;
							height: 80px;
							border-radius: 50%;
							/* filter: grayscale(100%); */
							transition: 0.2s;
						}

						.icon_palestrante4 img:hover{
							width:90px;
							height: 90px;
							transition: 0.2s;
						}

			
				.horario_prog4{
					display: grid;
					grid-template-columns: 1fr 3fr;
					grid-template-rows: 3fr 0.5fr 3fr;
					align-items: center;
					justify-items: left;
					border-bottom-style: dashed;
					grid-template-areas:
					"horario4 titulo_palestra4"
					"... icon_palestrate4"
					"categoria4 icon_palestrante_4";
				}

					.horario_prog4 p, img{
						margin-left: 40px;
					}

					.horario4{
						grid-area: horario;

					}

					.categoria4{
						grid-area: categoria;
						
						

					}


					

					.titulo_palestra4{
						margin: 40px;
						grid-area: titulo_palestra;
						justify-self: left;
						font-size: 1.4rem;

						font-family: 'versaversa';
						line-height: 1.2em;
						text-transform: uppercase;
						color: black;
						

					}

					.icon_palestrante4{
						padding-bottom: 40px;
						
						grid-area: icon_palestrante;
						

					}

						.icon_palestrante4 img{
							width: 80px;
							height: 80px;
							border-radius: 50%;
							/* filter: grayscale(100%); */
							transition: 0.2s;
						}

						.icon_palestrante4 img:hover{
							width:90px;
							height: 90px;
							transition: 0.2s;
						}




						.horario_prog4{
							display: grid;
							grid-template-columns: 1fr 3fr;
							grid-template-rows: 3fr 0.5fr 3fr;
							align-items: center;
							justify-items: left;
							border-bottom-style: dashed;
							grid-template-areas:
							"horario4 titulo_palestra4"
							"... icon_palestrate4"
							"categoria4 icon_palestrante_4";
						}
		
							.horario_prog4 p, img{
								margin-left: 40px;
							}
		
							.horario4{
								grid-area: horario;
		
							}
		
							.categoria4{
								grid-area: categoria;
								
								
		
							}
		
		
							
		
							.titulo_palestra4{
								margin: 40px;
								grid-area: titulo_palestra;
								justify-self: left;
								font-size: 1.4rem;
		
								font-family: 'versaversa';
								line-height: 1.2em;
								text-transform: uppercase;
								color: black;
								
		
							}
		
							.icon_palestrante4{
								padding-bottom: 40px;
								
								grid-area: icon_palestrante;
								
		
							}
		
								.icon_palestrante4 img{
									width: 80px;
									height: 80px;
									border-radius: 50%;
									/* filter: grayscale(100%); */
									transition: 0.2s;
								}
		
								.icon_palestrante4 img:hover{
									width:90px;
									height: 90px;
									transition: 0.2s;
								}
		
					
						.horario_prog3{
							display: grid;
							grid-template-columns: 1fr 3fr;
							grid-template-rows: 3fr 0.5fr 3fr;
							align-items: center;
							justify-items: left;
							border-bottom-style: dashed;
							grid-template-areas:
							"horario3 titulo_palestra3"
							"... icon_palestrante3"
							"categoria3 icon_palestrante3";
						}
		
							.horario_prog3 p, img{
								margin-left: 40px;
							}
		
							.horario3{
								grid-area: horario3;
		
							}
		
							.categoria3{
								grid-area: categoria3;
								
								
		
							}
		
		
							
		
							.titulo_palestra3{
								margin: 40px;
								grid-area: titulo_palestra3;
								justify-self: left;
								font-size: 1.4rem;
		
								font-family: 'versaversa';
								line-height: 1.2em;
								text-transform: uppercase;
								color: black;
								
		
							}
		
							.icon_palestrante3{
								padding-bottom: 40px;
								
								grid-area: icon_palestrante3;
								
		
							}
		
								.icon_palestrante3 img{
									width: 80px;
									height: 80px;
									border-radius: 50%;
									/* filter: grayscale(100%); */
									transition: 0.2s;
								}
		
								.icon_palestrante3 img:hover{
									width:90px;
									height: 90px;
									transition: 0.2s;
								}



			







		




		.title-large1 {
			font-family: 'versaversa';
			color: #ffffff;
			font-size: 2.5rem;
			line-height: 1;
			padding: 1rem .5rem .5rem .5rem;
			margin-bottom: 5px;
			
			width: auto;
		}

			.title-large1 strong{
				background-color: #2edb96;
				padding-left: 10px;
				padding-right: 10px;

			}

		.title-large2 {
			font-family: "RalewayBold", sans-serif;
			color: #ffffff;
			font-size: 2.1rem;
			line-height: 1em;
			padding: 1rem .5rem .5rem .5rem;
			margin-bottom: 5px;
			
		}

		.title-large2 strong{
			background-color: #379634;
			padding-left: 10px;
			padding-right: 10px;

		}


		.title-large3 {
			font-family: 'sora';
			color: #ffffff;
			font-size: 2rem;
			line-height: 1.2em;
			padding: 1rem .5rem .5rem .5rem;
			
			
			margin-bottom: 60px;
			margin-top: 60px;
		}

		#temporizador{
			background-color: #7CFFCB;
			height: 150px;
			width: 800px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 70px;
			margin-top: 70px;
		}

	
		.button-inscricao{
			background-color: #48D1CC ;
			color: #fff;
			border-radius: 35px;        
			font-size: 20px;
			font-weight: bolder;
			padding: 20px 43px;
			cursor: pointer;
			transition: 0.2s;
		}
	 
			.button-inscricao:hover {
				background-color: #3cb1ad ;
				scale: 1.03;
				transition: 0.2s;
    		}

			

	
		#informacoes-evento{
			height: auto;
			background-color: #f4f4fb;
			
		}

			#titulo-informacoes{
				
				

				padding-top: 100px;
				margin-left: 310px;
				padding-bottom: 80px;
			}


			#cards-evento{
				margin-left: auto;
				margin-right: auto;
				display: grid;
				justify-content: center;  
				gap: 40px 40px;
				padding-bottom: 100px;
				grid-template-columns: 400px 400px 400px;
				grid-template-rows: 500px;

			}

				#card-evento-1{
					justify-self: stretch;
					align-self: stretch;
					overflow: hidden;

					/* overflow: hidden esconde o que ultrapassar do container */
					
					
				}

					

				#card-evento-2{
					justify-self: stretch;
					align-self: stretch;
					overflow: hidden;

				}


				#card-evento-3{
					justify-self: stretch;
					align-self: stretch;
					overflow: hidden;

				}

					


					.photo{
						width: 400px;
						height: 300px;
						align-self: center;
						justify-self: center;
						padding-bottom: 40px;
						transition-duration: 0.45s;
						
					}

						.photo:hover{
							scale: 1.05;
							transition-duration: 0.45s;
							
						}

					

					.texto-evento{
						display: grid;
						width: 400px;
					}

					
						.card-title{
							display: grid;
							background-color: rgb(255, 255, 255);
							text-align: center;
							align-self: stretch;
							justify-self: stretch;
							padding-top: 10px;
							padding-bottom: 15px;
							
						}

						
						.card-text{
							display: grid;
							background-color: rgb(255, 255, 255);
							padding:10px;
							text-align: center;
										
							color: rgb(0, 0, 0);
							
						}		


			

			




					
	#inscricao{
		background-color: #ffffff;
		margin-left: -8px;
		margin-right: -8px;
	}

		

		#ingresso{
			display: grid;
			grid-template-rows: 120px 120px 180px 20px;
			font-size: 30px;
			padding-top: 100px;
			padding-bottom: 100px;			
			margin-left: auto;
			margin-right: auto;
			grid-template-columns: 450px;
			width: 450px;
			
			align-items: center;
			justify-items: center;	
			color: #ffffff
		}

			

			#ingresso span{
				padding-top: 40px;
				text-align: center;
				background-color: #534893;
				justify-self: stretch;
				align-self: stretch;
			}

			#vagas-limitadas{
				border-bottom: dotted;
			}

			#ingresso a{

				align-self: center;
			}

			#recorte{
				display:flex;
			}

			.bolas{
				background-color: #ffffff;
				width: 70px;
				border-top: solid;
				border-color: #ffffff;
				border-radius: 50%;
				padding-top: 80px;

			}

		
	#contato{


		background-color:#3ca7a3;
		color: #ffffff;
		margin-left: -8px;
		margin-right: -8px;
		text-align: center;
		padding-top: 100px;
		padding-bottom: 100px;
		text-transform: none;
	}

	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 2fr;
		background-color: #ffffff;
		gap: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
		
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title org_title org_title"
		" ufrj_logo  pos_biof_logo pos_fisio_logo ibccf_logo " ;
		
	}

		#realizacao img:hover{
			scale: 1.1;
		}

		#org_title{
			grid-area:org_title;

		}

		#ufrj_logo{
			grid-area: ufrj_logo;

		}

		#pos_biof_logo{
			grid-area:pos_biof_logo;

		}

		#pos_fisio_logo{
			grid-area:pos_fisio_logo;

		}

		#ibccf_logo{
			grid-area:ibccf_logo;

		}















	












@media only screen and (min-width: 1025px) and (max-width: 1268px){

	.titulo_palestra{
		margin-top: 1px;
		margin-right: 10px;
		margin-bottom: 1px;
		
		
		

	}

	#apontador_dia{
		display:grid;
		grid-template-columns: 180px 10px;
		grid-template-areas:
		"icone_dia recorte";
		font-size: 0.8rem;




	}

	

	.dia{
		width: 580px;
		
	}

	.horario_prog{
		display: grid;
		grid-template-columns: 2fr 4fr;
		grid-template-rows: 3fr 0.5fr 3fr;
		align-items: center;
		justify-items: left;
		border-bottom-style: dashed;
		
		grid-template-areas:
		"horario titulo_palestra"
		"... icon_palestrate"
		"categoria icon_palestrante";
	}





	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: 1fr 2fr 2fr;
		background-color: #ffffff;
		gap: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}

	

}
	
	
@media only screen and (min-width: 730px) and (max-width: 1024px){

	#prog_title {
		
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		

	}

	#prog_subtitle {
		
		text-align: center;
		padding-bottom: 50px;
		

	}


	.programacao_completa{
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: auto;
		display: grid;
		padding-bottom: 40px;
		gap: 50px;
		
		grid-template-columns: 1fr 3fr;
		grid-template-areas: 
		"icone_dia dia";
	}

	#apontador_dia{
		display:grid;
		grid-template-columns: 160px 6px;
		grid-template-areas:
		"icone_dia recorte";
		font-size: 0.7rem;




	}

	

	.dia{
		width: 500px;
		
	}

	.horario_prog{
		display: grid;
		grid-template-columns: 2fr 4fr;
		grid-template-rows: 3fr 0.5fr 3fr;
		align-items: center;
		justify-items: left;
		border-bottom-style: dashed;
		
		grid-template-areas:
		"horario titulo_palestra"
		"... icon_palestrate"
		"categoria icon_palestrante";
	}

		.titulo_palestra{
			font-size: 1.2rem;
			margin-bottom: 2px;

		}

		.horario_prog p, img {
			margin-left: 10px;
		}

		.icon_palestrante {
			padding-bottom: 10px;
		}

	

		.titulo_palestra3{
			font-size: 1.2rem;
			margin-bottom: 2px;

		}

		.horario_prog3 p, img {
			margin-left: 10px;
		}

		.icon_palestrante3 {
			padding-bottom: 10px;
		}











	
	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: 1fr 2fr 2fr;
		background-color: #ffffff;
		gap: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}
}


@media only screen and (min-width: 550px) and (max-width: 729px){

	#prog_title {
		
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		

	}

	#prog_subtitle {
		
		text-align: center;
		padding-bottom: 50px;
		

	}


	.programacao_completa{
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: auto;
		display: grid;
		padding-bottom: 40px;
		gap: 50px;
		
		grid-template-columns: 1fr 3fr;
		grid-template-areas: 
		"icone_dia dia";
	}

	#apontador_dia{
		display:grid;
		grid-template-columns: 130px 3px;
		grid-template-rows: 100px;
		grid-template-areas:
		"icone_dia recorte";
		font-size: 0.6rem;
		heigh;




	}

	.title{
		font-size: 1.8rem;
		text-transform: uppercase;

	}

	

	.dia{
		width: 360px;
		
	}

	.icone_dia{
		height: 90px;
		
		

	}

	.seta{
		margin-top: 40px;
		

	}

	.horario_prog{
		display: grid;
		grid-template-columns: 3fr 4fr;
		grid-template-rows: 3fr 0.5fr 3fr;
		align-items: center;
		justify-items: left;
		border-bottom-style: dashed;
		
		grid-template-areas:
		"horario titulo_palestra"
		"... icon_palestrante"
		"categoria icon_palestrante";
	}


	

		.titulo_palestra{
			font-size: 1rem;
			margin-bottom: 2px;

		}

		.horario_prog p, img {
			margin-left: 10px;
		}

		.icon_palestrante {
			padding-bottom: 10px;
		}

	

		.titulo_palestra3{
			font-size: 1.2rem;
			margin-bottom: 2px;

		}

		.horario_prog3 p, img {
			margin-left: 10px;
		}

		.icon_palestrante3 {
			padding-bottom: 10px;
		}











	
	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: 1fr 2fr 2fr;
		background-color: #ffffff;
		gap: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}
}


@media only screen and (min-width: 400px) and (max-width: 549px){

	#prog_title {
		
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		

	}

	#prog_subtitle {
		
		text-align: center;
		padding-bottom: 50px;
		

	}


	.programacao_completa{
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: auto;
		display: grid;
		padding-bottom: 40px;
		gap: 50px;
		
		grid-template-columns: 0px 1fr;
		grid-template-areas: 
		"dia";
	}

	#apontador_dia{
		display:none;
		




	}

	.title{
		font-size: 1.8rem;
		text-transform: uppercase;

	}

	

	.dia{
		width: 360px;
		
	}

	.icone_dia{
		height: 90px;
		
		

	}

	.seta{
		margin-top: 40px;
		

	}

	.horario_prog{
		display: grid;
		grid-template-columns: 3fr 4fr;
		grid-template-rows: 3fr 0.5fr 3fr;
		align-items: center;
		justify-items: left;
		border-bottom-style: dashed;
		
		grid-template-areas:
		"horario titulo_palestra"
		"... icon_palestrante"
		"categoria icon_palestrante";
	}


	

		.titulo_palestra{
			font-size: 1rem;
			margin-bottom: 2px;

		}

		.horario_prog p, img {
			margin-left: 10px;
		}

		.icon_palestrante {
			padding-bottom: 10px;
		}

	

		.titulo_palestra3{
			font-size: 1.2rem;
			margin-bottom: 2px;

		}

		.horario_prog3 p, img {
			margin-left: 10px;
		}

		.icon_palestrante3 {
			padding-bottom: 10px;
		}

	#contato span{
		font-size: 1.7rem;
	}

	
	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: 1fr 2fr 2fr;
		background-color: #ffffff;
		gap: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}

		#realizacao img{
			width: 180px;
			height: 80px;
		}
}


@media only screen and (max-width: 399px){
	
	#prog_title {
		
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		

	}

	#prog_subtitle {
		
		text-align: center;
		padding-bottom: 50px;
		

	}


	.programacao_completa{
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: auto;
		display: grid;
		padding-bottom: 40px;
		gap: 50px;
		
		grid-template-columns: 0px 1fr;
		grid-template-areas: 
		"dia";
	}

	#apontador_dia{
		display:none;
		




	}

	.title{
		font-size: 1.8rem;
		text-transform: uppercase;

	}

	

	.dia{
		width: 340px;
		
	}

	.icone_dia{
		height: 90px;
		
		

	}

	.seta{
		margin-top: 40px;
		

	}

	.horario_prog{
		display: grid;
		grid-template-columns: 3fr 4fr;
		grid-template-rows: 3fr 0.5fr 3fr;
		align-items: center;
		justify-items: left;
		border-bottom-style: dashed;
		
		grid-template-areas:
		"horario titulo_palestra"
		"... icon_palestrante"
		"categoria icon_palestrante";
	}


	

		.titulo_palestra{
			font-size: 1rem;
			margin-bottom: 2px;

		}

		.horario_prog p, img {
			margin-left: 10px;
		}

		.icon_palestrante {
			padding-bottom: 10px;
		}

	

		.titulo_palestra3{
			font-size: 1.2rem;
			margin-bottom: 2px;

		}

		.horario_prog3 p, img {
			margin-left: 10px;
		}

		.icon_palestrante3 {
			padding-bottom: 10px;
		}

	#contato span{
		font-size: 1.3rem;
	}

	
	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: 1fr 2fr 2fr;
		background-color: #ffffff;
		gap: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}

		#realizacao img{
			width: 160px;
			height: 70px;
		}

}