

#realizacao{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #ffffff;
    gap: 30px;
    width: 100vw;
    align-items: center;
	justify-items: center;
	text-align: center;
    grid-template-areas:
    "org_title org_title org_title org_title"
    " ufrj_logo  pos_biof_logo pos_fisio_logo ibccf_logo ";
}

    .logos_realizacao{
        height: 6rem;
    }

    #realizacao img{
        transition: 0.3s;

    }

    #realizacao img:hover{
        scale: 1.05;
        transition: 0.3s;
    }

    #org_title{
        padding-top: 100px;
        padding-bottom: 70px;
        /* desconto de 30px no padding devido ao gap */
        grid-area:org_title;
    }

    #ufrj_logo{
        grid-area: ufrj_logo;
        padding-bottom: 100px;
    }

    #pos_biof_logo{
        grid-area:pos_biof_logo;
        padding-bottom: 100px;
    }

    #pos_fisio_logo{
        grid-area:pos_fisio_logo;
        padding-bottom: 100px;
    }

    #ibccf_logo{
        grid-area:ibccf_logo;
        padding-bottom: 100px;
    }

@media only screen and (min-width: 1025px) and (max-width: 1268px){

    #realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		background-color: #ffffff;
		gap: 30px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}

	#ufrj_logo{
        grid-area: ufrj_logo;
        padding-bottom: 60px;
    }

    #pos_biof_logo{
        grid-area:pos_biof_logo;
        padding-bottom: 60px;
    }
}

@media only screen and (min-width: 730px) and (max-width: 1024px){

    #realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		background-color: #ffffff;
		gap: 30px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}

	#ufrj_logo{
        grid-area: ufrj_logo;
        padding-bottom: 60px;
    }

    #pos_biof_logo{
        grid-area:pos_biof_logo;
        padding-bottom: 60px;
    }

}

@media only screen and (min-width: 550px) and (max-width: 729px){

    #realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		background-color: #ffffff;
		gap: 30px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}

	#ufrj_logo{
        grid-area: ufrj_logo;
        padding-bottom: 60px;
    }

    #pos_biof_logo{
        grid-area:pos_biof_logo;
        padding-bottom: 60px;
    }
    
}

@media only screen and (min-width: 400px) and (max-width: 549px){

    #realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		background-color: #ffffff;
		gap: 20px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}

	#ufrj_logo{
        grid-area: ufrj_logo;
        padding-bottom: 60px;
    }

    #pos_biof_logo{
        grid-area:pos_biof_logo;
        padding-bottom: 60px;
    }

		#realizacao a img{
			width: 170px;
			height: 80px;
        }
        
}

@media only screen and (max-width: 399px){

    #realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		background-color: #ffffff;
		gap: 20px;
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title "
		" ufrj_logo  pos_biof_logo "
		"pos_fisio_logo ibccf_logo ";
	}

	#ufrj_logo{
        grid-area: ufrj_logo;
        padding-bottom: 60px;
    }

    #pos_biof_logo{
        grid-area:pos_biof_logo;
        padding-bottom: 60px;
	}
	
	#org_title{
		font-size: 1.7rem;
	}

		#realizacao a img{
			width: 160px;
			height: 70px;
		}

}
