html, body, h2, h1, h3, h4, p{  
	font-family: "Raleway", sans-serif;
    margin: 0;  
	padding: 0; 
	color: black;
}

html {
	box-sizing: border-box;
	overflow: auto;
	height: auto;
	scroll-behavior: smooth;
	
}

h4 {
	font-size: 23px;
	line-height: 31px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: none;
}

h2 {
	font-size: 43px;
	line-height: 47px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: uppercase;
}

p {
}

img {
	margin: 0;
}

body {
	padding-right: -10px;;
	
	
}





	header {
		margin-top: 80px;
		height: 900px;
		padding-top: 10px;
		margin-left: -10px;
		margin-right: -10px;
	}

		.title{
			font-family: 'versaversa';
			font-size: 2.1rem;
			line-height: 1.2em;
			text-transform: uppercase;
			color: black;
		}

		.subtitle{
			font-family: 'versaversa';
			font-size: 1.6em;
			line-height: 1.2em;
			text-transform: uppercase;
			color: black;
		}


		

		#hero{
			text-align: center;
			
		}

		
		
		#work{
			padding-top: 80px;
		}

		#videoBG {
			position:fixed;
			z-index: -1;

			width:130%;
			height: auto;
			left: -300px;
		}



		




		.title-large1 {
			font-family: 'versaversa';
			color: #ffffff;
			font-size: 2.5rem;
			line-height: 1;
			padding: 1rem .5rem .5rem .5rem;
			margin-bottom: 5px;
			
			width: auto;
		}

			.title-large1 strong{
				background-color: #2edb96;
				padding-left: 10px;
				padding-right: 10px;

			}

		.title-large2 {
			font-family: "RalewayBold", sans-serif;
			color: #ffffff;
			font-size: 2.1rem;
			line-height: 1em;
			padding: 1rem .5rem .5rem .5rem;
			margin-bottom: 5px;
			
		}

		.title-large2 strong{
			background-color: #379634;
			padding-left: 10px;
			padding-right: 10px;

		}

		.title-data3 strong{
			font-family: "RalewayBold", sans-serif;
			color: #ffffff;
			font-size: 2.1rem;
			line-height: 1em;
			padding: 1rem .5rem .5rem .5rem;
			
			background-color: #89da86;
			

		}


		.title-large3 {
			font-family: 'sora';
			color: #ffffff;
			font-size: 2rem;
			line-height: 1.2em;
			padding: 1rem .5rem .5rem .5rem;
			
			
			margin-bottom: 60px;
			margin-top: 60px;
		}

		#temporizador{
			height: 200px;
			margin-bottom: 120px;
			margin-top: 70px;
			
			
			
		}

			.timer{
				font-size: 2rem;
				color: white;
				padding: 8px;
				font-weight: bolder;
			}

		#temporizador_legendas{
			display: grid;
			grid-template-columns: 120px 120px 120px 120px;
			gap: 50px;
			
			justify-content: center;
			grid-template-areas:
			"dias_legenda horas_legenda minutos_legenda segundos_legenda";
		}
			

			#dias_legenda{
				grid-area: dias_legenda;

			}

		

			#horas_legenda{
				grid-area: horas_legenda;

			}
		
		

			#minutos_legenda{
				grid-area: minutos_legenda;

			}

		

			#segundos_legenda{
				grid-area: segundos_legenda;

			}


	
		.button-inscricao{
			background-color: #379634 ;
			color: #fff;
			border-radius: 35px;        
			font-size: 20px;
			font-weight: bolder;
			padding: 20px 43px;
			cursor: pointer;
		}
	 
			.button-inscricao:hover {
				background-color: #2d772a ;
				scale: 1.1;
			}

		#button-titulo{
			margin-bottom: 70px;

		}

			

	
		#informacoes-evento{
			height: auto;
			background-color: #f4f4fb;
			
			
		}

			#titulo-informacoes{
				width: 68%;
				margin-left: auto;
				margin-right: auto;

				text-align: left;

				
				

				padding-top: 100px;
				padding-bottom: 80px;
			}


			#cards-evento{
				margin-left: auto;
				margin-right: auto;
				display: grid;
				justify-content: center;  
				gap: 40px 40px;
				padding-bottom: 100px;
				grid-template-columns: 400px 400px 400px;
				grid-template-rows: 500px;

			}

				#card-evento-1{
					justify-self: stretch;
					align-self: stretch;
					overflow: hidden;

					/* overflow: hidden esconde o que ultrapassar do container */
					
					
				}

					

				#card-evento-2{
					justify-self: stretch;
					align-self: stretch;
					overflow: hidden;

				}


				#card-evento-3{
					justify-self: stretch;
					align-self: stretch;
					overflow: hidden;

				}

					


					.photo{
						width: 400px;
						height: 300px;
						align-self: center;
						justify-self: center;
						padding-bottom: 40px;
						transition-duration: 0.45s;
						
					}

						.photo:hover{
							scale: 1.05;
							transition-duration: 0.45s;
							
						}

					

					.texto-evento{
						display: grid;
						width: 400px;
					}

					
						.card-title{
							display: grid;
							background-color: rgb(255, 255, 255);
							text-align: center;
							align-self: stretch;
							justify-self: stretch;
							padding-top: 10px;
							padding-bottom: 15px;
							
						}

						
						.card-text{
							
							background-color: rgb(255, 255, 255);
							padding:10px;
							text-align: center;
							line-height: 25px;
										
							color: rgb(0, 0, 0);
							
						}		


			

			

				
		

		
		#palestrantes{

			background-color: #7CFFCB;
			margin-left: -8px;
			margin-right: -8px;	
			height: auto;	

		}	

			

			#lista-palestrantes{
				margin-left: auto;
				margin-right: auto;
				display: grid;
				grid-template-rows: repeat(3, 280px);
				grid-template-columns: repeat(7, 1fr);
				

			}	









			#palestrante-nome-1 {
				grid-row: 1/2;
				grid-column: 3/4;
				 
			}

			#palestrante-foto-1{
				grid-row: 1/2;					
				grid-column: 3/4;					
			}



			#palestrante-nome-2 {
				grid-row: 1/2;
				grid-column: 4/5;
				
			}

			#palestrante-foto-2{
				grid-row: 1/2;					
				grid-column: 4/5;					
			}
			
				

				

			



			#palestrante-foto-3{
				grid-row: 1/2;					
				grid-column: 5/6;					
			}				

			#palestrante-nome-3 {
				grid-row: 1/2;
				grid-column: 5/6;
				  
			}


			#palestrante-foto-4{
				grid-row: 1/2;
				grid-column: 6/7;					
			}				

			#palestrante-nome-4 {
				grid-row: 1/2;
				grid-column: 6/7;
				  
			}



			#palestrante-foto-5{
				grid-row: 1/2;
				grid-column: 7/8;					
			}

				

			#palestrante-nome-5 {
				grid-row: 1/2;
				grid-column: 7/8;
				  
			}




			#palestrante-foto-6{
				grid-row: 2/3;					
				grid-column: 1/2;					
			}
			
				
			#palestrante-nome-6 {
				grid-row: 2/3;
				grid-column: 1/2;
				  
			}



			#palestrante-foto-7{
				grid-row: 2/3;					
				grid-column: 2/3;					
			}

			

			#palestrante-nome-7 {
				grid-row: 2/3;
				grid-column: 2/3;
				  
			}




			#palestrante-foto-8{
				grid-row: 2/3;					
				grid-column: 3/4;					
			}
			
				

			#palestrante-nome-8 {
				grid-row: 2/3;
				grid-column: 3/4;
				  
			}



			#palestrante-foto-9{
				grid-row: 2/3;
				grid-column: 4/5;					
			}

				

			#palestrante-nome-9 {
				grid-row: 2/3;
				grid-column: 4/5;
				  
			}


			#palestrante-foto-10{
				grid-row: 2/3;
				grid-column: 5/6;					
			}
			
				
			#palestrante-nome-10 {
				grid-row: 2/3;
				grid-column: 5/6;
				  
			}

			#palestrante-foto-11{
				grid-row: 2/3;
				grid-column: 6/7;					
			}

				

			#palestrante-nome-11 {
				grid-row: 2/3;
				grid-column: 6/7;
				  
			}


			#palestrante-foto-12{
				grid-row: 2/3;
				grid-column: 7/8;					
			}
			
				

			#palestrante-nome-12 {
				grid-row: 2/3;
				grid-column: 7/8;
				  
			}




			#palestrante-foto-13{
				grid-row: 3/4;					
				grid-column: 1/2;					
			}				

			#palestrante-nome-13 {
				grid-row: 3/4;					
				grid-column: 1/2;	
				  
			}



			#palestrante-foto-14{
				grid-row: 3/4;
				grid-column: 2/3;					
			}
			
				

			#palestrante-nome-14 {
				grid-row: 3/4;
				grid-column: 2/3;
				  
			}



			#palestrante-foto-15{
				grid-row: 3/4;
				grid-column: 3/4;					
			}

				

			#palestrante-nome-15 {
				grid-row: 3/4;
				grid-column: 3/4;
				  
			}




			#palestrante-foto-16{
				grid-row: 3/4;
				grid-column: 4/5;					
			}
			
				

			#palestrante-nome-16 {
				grid-row: 3/4;
				grid-column: 4/5;
				  
			}



			#palestrante-foto-17{
				grid-row: 3/4;
				grid-column: 5/6;					
			}

				

			#palestrante-nome-17 {
				grid-row: 3/4;
				grid-column: 5/6;
				  
			}




			#palestrante-foto-18{
				grid-row: 3/4;
				grid-column: 6/7;					
			}
			
				

			#palestrante-nome-18 {
				grid-row: 3/4;
				grid-column: 6/7;
				  
			}



			#palestrante-foto-19{
				grid-row: 3/4;
				grid-column: 7/8;					
			}
			
				

			#palestrante-nome-19 {
				grid-row: 3/4;
				grid-column: 7/8;
				  
			}




			#palestrante-foto-20{
				grid-row: 4/5;
				grid-column: 1/2;					
			}

				

			#palestrante-nome-20 {
				grid-row: 4/5;
				grid-column: 1/2;
				  
			}






























				.nome-foto{
					padding-top: 110px;
					color: #ffffff;
					text-align: left;
					margin-left: 15px;

					font-family: 'versaversa';
					font-size: 1.8em;
					line-height: 1.2em;
					text-transform: uppercase;


				}

				.descricao-foto{
					color: #ffffff;
					font-size: 1.5em;
					text-align: left;
					margin-left: 15px;
					font-family: 'versaversa';
					font-size: 1.4em;
					line-height: 1.2em;

				}

					

				
				#titulo-palestrantes {
					text-align: left;
					color: rgb(0, 0, 0);
					margin-top: -4px;
					margin-left: 10px;
					margin-right: 10px;

					align-self: center;
					justify-self: center;
					grid-row: 1/2;
					grid-column: 1/3;
				}

				
				.foto-palestrante{
					display: grid;
					background-color: #ff8d22;
					  
					

					justify-items: stretch;
					align-items: stretch;
					overflow: hidden;
				}

					.foto-palestrante img{
						width: 100%;
						height: auto;
						filter: grayscale(100%);
						

					}

					
					.foto-palestrante:hover{
						opacity: 0.3; 
						transition-duration: 0.6s;
						
					}

			


	#programacao {
		background-color: #f5f5f5;
		height: 400px;
		margin-left: -8px;
		margin-right: -8px;
		text-align: center;
		
	}

		#titulo-programacao{
			padding-top: 100px;
			padding-bottom: 100px;

		}

		#botao-programacao{
			


		}

					
	#inscricao{
		background-color: #ffffff;
		margin-left: -8px;
		margin-right: -8px;
	}

		

		#ingresso{
			display: grid;
			grid-template-rows: 120px 120px 180px 20px;
			font-size: 30px;
			padding-top: 100px;
			padding-bottom: 100px;			
			margin-left: auto;
			margin-right: auto;
			grid-template-columns: 400px;
			width: 450px;
			
			align-items: center;
			justify-items: center;	
			color: #ffffff
		}

			

			#ingresso span{
				padding-top: 40px;
				text-align: center;
				background-color: #534893;
				justify-self: stretch;
				align-self: stretch;
			}

			#vagas-limitadas{
				border-bottom: dotted;
			}

			#ingresso a{

				align-self: center;
			}

			#recorte{
				display:flex;
			}

			.bolas{
				background-color: #ffffff;
				width: 70px;
				border-top: solid;
				border-color: #ffffff;
				border-radius: 50%;
				padding-top: 80px;

			}

		
	#contato{


		background-color: #0A3200;
		color: #ffffff;
		margin-left: -8px;
		margin-right: -8px;
		text-align: center;
		padding-top: 100px;
		padding-bottom: 100px;
		text-transform: none;
	}


	#realizacao{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 2fr;
		background-color: #BFFFF1;
		gap: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
		
		align-items: center;
		justify-items: center;
		grid-template-areas:
		"org_title org_title org_title org_title"
		" ufrj_logo  pos_biof_logo pos_fisio_logo ibccf_logo " ;
		
	}

		#realizacao img:hover{
			scale: 1.1;
		}

		#org_title{
			grid-area:org_title;

		}

		#ufrj_logo{
			grid-area: ufrj_logo;

		}

		#pos_biof_logo{
			grid-area:pos_biof_logo;

		}

		#pos_fisio_logo{
			grid-area:pos_fisio_logo;

		}

		#ibccf_logo{
			grid-area:ibccf_logo;

		}

		















	















@media only screen and (max-width: 1250px){

	body {
		width: 100vw;
	}

	#cards{
		display: grid;
		grid-template-columns: 1fr 600px 1fr;
		grid-template-rows: 1px 130px 50px 600px 600px 600px 50px;
		gap:25px;
		background-color: #2c4059;
		grid-template-areas: 
		"torto-top torto-top torto-top"
		"rede-empresas rede-empresas rede-empresas"
		"separador-cards separador-cards separador-cards"
		"..... image-card1 ....."
		"..... image-card2 ....."
		"..... image-card3 ....."
		"torto-bottom torto-bottom torto-bottom";
	}
}



@media only screen and (max-width: 1000px){

	#graficos-empresas{
		display:grid;	
		gap: 20px;	
		grid-template-columns: 1fr;
		grid-template-rows: 500px 500px 700px 500px 500px;
		grid-template-areas: 
		"vinculo"
		"origem"
		"atuacao"
		"sede"
		"porte";
	}

	.image-cards-grid{
		
		grid-template-rows: 350px 110px 150px;
	}

	.card-icon{
		grid-area:card-icon;
		max-width: 80%;
		max-height: 80%;
		
	}
}

@media only screen and (max-width: 800px){

	#graficos-empresas{
		display:grid;		
		gap: 20px;
		grid-template-columns: 1fr;
		grid-template-rows: 600px 600px 900px 600px 600px;
		grid-template-areas: 
		"vinculo"
		"origem"
		"atuacao"
		"sede"
		"porte";
	}	

	#atuacao h4{
		padding-bottom: 130px;
	}

	#atuacao{
		display: none;
		grid-area: atuacao;
		align-self: center;
		justify-self: center;


	}

	#atuacao-90{
		display: inherit;
		grid-area: atuacao;
		align-self: center;
		justify-self: center;


	}



}

@media only screen and (min-width: 500px) and (max-width: 800px){

	
}

@media only screen and (max-width: 650px){
	
	#cards{
		display: grid;
		grid-template-columns: 1fr 450px 1fr;
		grid-template-rows: 1px 130px 50px 600px 600px 600px 50px;
		gap:15px;
		background-color: #2c4059;
		grid-template-areas: 
		"torto-top torto-top torto-top"
		"rede-empresas rede-empresas rede-empresas"
		"separador-cards separador-cards separador-cards"
		"..... image-card1 ....."
		"..... image-card2 ....."
		"..... image-card3 ....."
		"torto-bottom torto-bottom torto-bottom";
	}
}

@media only screen and (max-width: 600px){

	#graficos-empresas{
		display:grid;		
		grid-template-columns: 1fr;
		grid-template-rows: 500px 500px 650px 500px 500px;
		grid-template-areas: 
		"vinculo"
		"origem"
		"atuacao"
		"sede"
		"porte";
	}

	#atuacao h4{
		padding-bottom: 85px;
	}

	.button1 {
		display: block;
		border-radius: 15px;
		border-style: solid;
		border-color: #78f0d3;
		background: none;
		font-size: 20px;
		font-weight: bolder;
		margin: 10px;
		padding: 20px 43px;
		cursor: pointer;
	}
}

@media only screen and (max-width: 500px){

	#graficos-empresas{
		display:grid;		
		grid-template-columns: 1fr;
		grid-template-rows: 320px 320px 650px 320px 360px;
		grid-template-areas: 
		"vinculo"
		"origem"
		"atuacao"
		"sede"
		"porte";
	}

	#atuacao h4{
		padding-bottom: 85px;
	}

	#cards{
		display: grid;
		grid-template-columns: 1fr 350px 1fr;
		grid-template-rows: 1px 130px 50px 600px 600px 650px 50px;
		gap:15px;
		background-color: #2c4059;
		grid-template-areas: 
		"torto-top torto-top torto-top"
		"rede-empresas rede-empresas rede-empresas"
		"separador-cards separador-cards separador-cards"
		"..... image-card1 ....."
		"..... image-card2 ....."
		"..... image-card3 ....."
		"torto-bottom torto-bottom torto-bottom";
	}

	#card-title-3{
		font-size: 25px;
	}

	#faturamento-2018 {
		width: 450px;
	}

	#dados{		
		grid-template-rows: 200px 30px 160px 400px;		
	}

	

@media only screen and (max-width: 400px){

	#graficos-empresas{
		display:grid;		
		grid-template-columns: 1fr;
		grid-template-rows: 320px 320px 600px 320px 360px;
		grid-template-areas: 
		"vinculo"
		"origem"
		"atuacao"
		"sede"
		"porte";
	}

	#atuacao h4{
		padding-bottom: 85px;
	}

	#faturamento-2018 h2{
		font-size: 35px;
	}

	.numero {
		font-size: 60px;
	}
}

@media only screen and (max-width: 350px){

	#cards{
		display: grid;
		grid-template-columns: 1fr 300px 1fr;
		grid-template-rows: 1px 130px 50px 600px 600px 600px 50px;
		gap:15px;
		background-color: #2c4059;
		grid-template-areas: 
		"torto-top torto-top torto-top"
		"rede-empresas rede-empresas rede-empresas"
		"separador-cards separador-cards separador-cards"
		"..... image-card1 ....."
		"..... image-card2 ....."
		"..... image-card3 ....."
		"torto-bottom torto-bottom torto-bottom";		
	}

	#card-title-3{
		font-size: 18px;
	}

	#dados{		
		grid-template-rows: 250px 30px 160px 250px;		
	}
}




@media (min-aspect-ratio: 16/9) {
	#videoBG {
		width:130%;
		height: auto;
	}
}
@media (max-aspect-ratio: 16/9) {
	#videoBG { 
		width:auto;
		height: 100%;
	}
}
@media (max-width: 767px) {
	
	#videoBG {
		
	}
	body {
		background: url('../images/poster.png');
		background-size: cover%;
		background-position: center 10%;
		background-repeat: no-repeat;
	}
}